
<div id="comment-<%= comment.id %>-display-container" class='name-comment-display-container'> 

        <div>
<%= render partial: 'detail_line',
  locals: {label: 'Comment', info: comment.comment }  %>

<%= render partial: 'detail_line',
  locals: {label: 'Comment by',
           info: "<span class='indent width-4em'>&nbsp</span>#{comment.reviewer.user_table.full_name} (#{comment.reviewer.org.abbrev} #{comment.reviewer.role.name}) #{time_ago_in_words(comment.created_at)} ago #{link_to('(edit)', edit_name_review_comment_path(comment.id), remote: true, class: 'blue', title: 'Edit your comment') if @current_user.username == comment.reviewer.user_table.name}
"} %>

</div>

<% unless comment.created_at == comment.updated_at %>
  <%= render partial: 'detail_line',
    locals: {label: 'Updated',
             info: "<span class='indent width-4em'>&nbsp</span>#{time_ago_in_words(comment.updated_at)} ago"}  %>
<% end %>

<%= render partial: 'detail_line',
  locals: {label: 'Context and Topic',
           info: "<span class='indent width-4em'>&nbsp</span>#{comment.context.titleize} &mdash; #{comment.type.name.titleize}"} %>

</div>


<div id="comment-<%= comment.id %>-edit-container" class='name-comment-edit-container'> 

  <div id="<%= comment.id %>-info-message-container" class="message-container"></div>
  <div id="<%= comment.id %>-error-message-container" class="error-container message-container"></div>

</div>
<br>

