<div class="focus-details">
  <% if notice %> <p id="notice"><%= notice %></p> <% end %>

<% if @diff_list['operation'] == 'changed' %>
  <h5><%= @diff_list['simple_name'] %> &mdash; changed</h5>
<% elsif @diff_list['operation'] == 'added' %>
  <h5><%= @diff_list['simple_name'] %> &mdash; added</h5>
<% elsif @diff_list['operation'] == 'deleted' %>
  <h5><%= @diff_list['simple_name'] %> &mdash; deleted</h5>
<% else %>
  <h5>Unrecognised operation on <%= @diff_list['simple_name'] %>: <%= @diff_list['operation'] %></h5>
<% end %>


  <div>&nbsp;</div>

  <%= render partial: 'diff_lists/tabs/tabs' %>

  <%= render partial: "diff_lists/tabs/#{@tab}" %>

  <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

</div><!-- /end .focus-details -->
