<div class="focus-details">
  <% if notice %> <p id="notice"><%= notice %></p> <% end %>

  <br>
  Taxon: <%= @diff_list.inspect %>
<br>

  <div>&nbsp;</div>

  <%= render partial: 'diff_lists/tabs/tabs' %>

  <%= render partial: "diff_lists/tabs/#{@tab}" %>

  <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

</div><!-- /end .focus-details -->
