<div class="focus-details 
  <% tab_tab_index = @tab_index %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3>
      <%= link_to(@review_period.name,
                  search_path(query_target: 'batch_review', 
                              query_string: "id:#{@review_period.id}"),
                  id: 'tab-heading',
                  title: "Query this batch review period record") %>
    </h3>
    <%= render partial: 'loader/batch/review_periods/tabs/all_tab_headings' %>
    <%= render partial: "loader/batch/review_periods/tabs/#{@tab}" %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->


