<% link = "link-new-loader-name-#{@random_id}" %>

<tr id="new-loader-name-<%= @random_id %>" 
  class="new-record new-loader-name search-result show-details"  
  data-record-type="loader-name"
  data-edit-url="<%= loader_name_heading_new_with_random_id_path(@random_id) %>"
  data-tab-url="<%= loader_name_heading_new_with_random_id_path(@random_id) %>"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('loader_name') %></td>
  <td class="text takes-focus name main-content min-width-40-percent max-width-100-percent width-90-percent give-me-focus" colspan="9">
    <a id="<%= link %>" class="show-details-link" title="New loader name heading record. Select to show details" tabindex="1000">
      New Loader Name Heading
    </a>
  </td>
  <td class="takes-focus width-5-percent filler">&nbsp;
  </td>
</tr>

