<div class="focus-details"> 
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3>
      <%= link_to('<i class="fa fa-link"></i>'.html_safe,
                  search_path(query_target: 'loader_name', 
                              query_string: "id:#{@loader_name.id}"),
                  id: 'tab-heading',
                  title: "Simple Name") %>
                <%= "#{@loader_name.seq}. #{@loader_name.simple_name} <span class='gray'>&nbsp;&mdash; Batch #{@loader_name.batch.name}</span>".html_safe %>
      <%= 'Manually created' if @loader_name.created_manually? %>
    </h3>
    <% if @loader_name.record_type == 'heading' %>
      <%= render partial: 'loader/names/tabs/heading_record_tab' %>
    <% else %>
      <%= render partial: 'loader/names/tabs/all_tab_headings' %>
      <%= render partial: "loader/names/tabs/#{@tab}" %>
    <% end %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->

<br>

