
<%= form_with model: @review_period,
              url: 'batch_review_periods',
              data: { turbo: false },
              local: false,
              method: :post do |form| %>
  <%= form.hidden_field :batch_review_id, value: @batch_review.id %>
  Name<span class="red">*</span>: <%= form.text_field :name, class: 'form-control give-me-focus', title: "Enter name", required: true, tabindex: increment_tab_index %>

    <br>
    Start date<span class="red">*</span>:
    <br>
    <%= form.date_select :start_date,
                      {order: [:day, :month, :year],
                       use_short_month: true,
                       start_year: Date.today.year,
                       end_year: Date.today.year + 2},
                      {title: 'Start date for the period of review',
                       tabindex: increment_tab_index}  %>
    <br>
    <br>
  <%= form.submit id: "save-new-batch-review-period-btn", value: 'Add Review Period', class: 'btn-primary', title: "Create a new review period", tabindex: increment_tab_index %>
  <br>
  <br>

  <p>Reviewers are able to comment on loader name records during a review period.
  <p>We don't allow the same period name or period start date within a review.  
  <p>We also suggest you avoid overlapping review periods i.e. a second one starting while the first one is still running.
<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 
