<% increment_tab_index(0) %>

<%= @tree_element.id %> <span class="pull-right">id</span> <br>
<%#= @tree_element.current_tve %> <span class="pull-right">current_tve</span> <br>
<%= @tree_element.simple_name %> <span class="pull-right">taxon name</span> <br>
<%= @tree_element.name_element %> <span class="pull-right">name element</span> <br>
<%= @tree_element.name_id %> <span class="pull-right">name id</span> <br>
<%= @tree_element.previous_element_id %> <span class="pull-right">previous_element_id name</span> <br>
<%= @tree_element.profile %> <span class="pull-right">profile</span> <br>
<%= @tree_element.rank %> <span class="pull-right">rank</span> <br>
<%= @tree_element.source_shard %> <span class="pull-right">source shard</span> <br>
<%#= @tree_element.synonyms %> <span class="pull-right">synonyms</span> <br>
<%#= @tree_element.inspect %><br>
<br>
tree element id: <%= @tree_element.id %>
<br>
tree version id: <%= @tree_version.id %>
<br>
tve: <%= TreeVersionElement.where(tree_element_id: @tree_element.id).where(tree_version_id: params['tree-version-id']).size %>
<br>
tve: <%= params['tree-element-current-tve'] %>
<br>
<%#= divider %>

<% if params['tree-version-id'].blank? %>
  No tree version id in the params. (todo)
<% else %>
  <%= link_to("#{TreeVersion.find(params['tree-version-id']).tree.name} #{TreeVersion.find(params['tree-version-id']).draft_name}",
               search_path(query_string: "id:#{params['tree-version-id']}",
                           query_target: 'tree_version'),
               title: 'Retrieve the taxonomy',
               class: 'tree') %> 
          
<span class="pull-right">taxonomy version</span> <br>
<%= params["tree-element-operation"].capitalize %> <span class="pull-right">operation</span> <br>
          
<% end %>

<%= divider %>
<%#= @tree_element.name_link %> <!-- <span class="pull-right">name_link</span> <br> -->
<%#= @tree_element.previous_element_id %> <!-- <span class="pull-right">previous_element_id</span> <br> -->
<%#= @tree_element.profile %> <!-- <span class="pull-right">profile</span> <br> -->
<%#= @tree_element.rank %> <!-- <span class="pull-right">rank</span> <br> -->
<%#= @tree_element.source_element_link %> <!-- <span class="pull-right">source_element_link</span> <br> -->
<%#= @tree_element.source_shard %> <!-- <span class="pull-right">source_shard</span> <br> -->
<%#= @tree_element.synonyms %>
<br>
<% case params["tree-element-operation"] %>
<% when blank? %>
  No operation.
<% when 'removed' %>
    <span class="pull-right">Synonymy</span> <br>
    <div class="tree-container wrap">
      <%= @tree_element.synonyms_html.html_safe %>
    </div>
    <% unless @tree_element.profile.blank? %>
      <br>
      <% @tree_element.profile.each do | key, value | %> 
        <%= value["value"] %> <span class="pull-right"><%= key %></span> <br>
      <% end %>
    <% end %>
<% when 'added' %>
<% else %>
  <div id="diff_element" class="tree-container wrap">
    <% search_result_reconstructed = OpenStruct.new({ operation: params["tree-element-operation"],
                                                      id: @tree_element.id,
                                                      tv_id: params["tree-version-id"],
                                                      current_tve: params["tree-element-current-tve"],
                                                      previous_tve: params["tree-element-previous-tve"]
    }) %>
    <%= TreeElement.before_html(search_result_reconstructed).html_safe %>
    <%= divider %>
  </div>
<% end %>
<%= meaningful_update(@tree_element).html_safe %>
<%= divider %>
