
<% if @tree_version.active_review? %>
   <h5>Comment on active review</h5>
   <%= render partial: "taxonomy_element_comments/form_create" %>
<% else %>
    There is no active review
<% end %>

<% unless TaxonomyElementComment.comments_per_tree_element(@tree_element.id).empty? %>
  <h5>Comments</h5>
  <br>
  <% TaxonomyElementComment.comments_per_tree_element(@tree_element.id).each do |tec| %>
    <%= tec.comment %>
    <br>
    <%= tec.created_by %>
    <%= tec.created_at.strftime("%d-%b-%Y") %>
    <%= divider %>
  <% end %>
<% end %>


