
<% path = 'application/search_results/link_texts/loader/name' %>
<%= render partial: "#{path}/indent", locals: {search_result: search_result} %>



<% case search_result.record_type %>
<% when 'heading' %>
   <span class='loader-name <%= search_result.record_type %>'>
   <%= "#{search_result.simple_name}" %>
   </span>
<% when 'note' %>
   <span class='loader-name <%= search_result.record_type %>'>
   <%= "#{search_result.notes}" %>
   </span>
<% else %>
   <span class='loader-name <%= search_result.record_type %>'>
   <%= "#{search_result.simple_name}" %>
   </span>
  <%= render partial: "#{path}/decorate", locals: {search_result: search_result} %>
<% end %>


