<%= form_with model: @batch_review, url: 'batch_reviews', data: { turbo: false }, local: false, method: :put do |form| %>
  <%= form.hidden_field :id %>
  <%= form.hidden_field :loader_batch_id %>
  Name: <%= form.text_field :name, class: 'form-control give-me-focus', required: true, title: "Enter name", tabindex: increment_tab_index %>

  <br>

  <div class="form-group align-right">
  <%= form.submit id: "save-batch-review-btn", class: 'btn btn-primary width-5em', value: "Save", title: "Save changes to the batch review", tabindex: increment_tab_index %>
  </div>
<% end %>
<br>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 
