<% increment_tab_index(0) %>

<%= render 'taxonomy_reviews/form/edit' %>

<%= divider %>

<h5>Delete</h5>


<% if @taxonomy_review.can_be_deleted? %>
  You can delete <%= @taxonomy_review.name %>
  <%= render 'delete_widgets' %>
<% else %>
  You cannot delete <b><%= @taxonomy_review.name %></b> because information is attached to it.
<% end %>
