
<%= match.current_taxonomy_instance_choice %>
<span class="<%= match.current_taxonomy_instance_choice.downcase.gsub(' ','-') %>">&nbsp; &nbsp;</span>
<br>
<% if match.show_default_reference? || match.copy_and_append? %>
  <%= render partial: 'detail_line', locals: {info: match.loader_name.loader_batch.default_reference&.citation&.html_safe || 'There is no default reference for this batch', label: 'default reference'} %>
<% end %>
<% if match.standalone?  || match.copy_and_append? %>
  <% si = match.standalone_instance %>
  <%= render partial: 'detail_line', locals: {info: "#{si.reference.citation}:&nbsp;#{si.page}", label: 'selected instance'} %>
  <%= render partial: 'detail_line', locals: {info: si.instance_type.name, label: 'selected instance type'} %>
  <br>
  <br>
  <br>
<% end %>
<br>

