<% increment_tab_index(0) %>

<%= render partial: "names/details/full_name_and_link_to_search" %>
<%= render partial: "names/details/status_type_and_rank" %>
<%= render partial: "names/details/parents_and_duplicate_of" %>
<%= render partial: "names/widgets/duplicates" %>
<% if @name.changed_combination %> <br>Changed combination <% end %>
<%= render partial: "names/details/verbatim_rank" %>
<%= render partial: "names/details/authors" %>
<%= render partial: "names/details/tags" %>
<br>
<%= render partial: "names/details/instances" %>
<%= render 'names/details/children' %>
<%= render 'names/details/family' %>
<br>
<% if Rails.configuration.try('batch_loader_aware') == true %> 
  <% if @name.matched_to_loader_name? %>
    <i class="fa fa-layer-group"></i>&nbsp;
    <%= "Preferred matched to #{pluralize(@name.matches.size,'loader name record')}" %>
    <% @name.matches.each do |match| %>
      <br>
      <%= link_to("#{match.loader_name.simple_name} in batch #{match.loader_name.loader_batch.name}",
                   search_path(query_target: 'loader_names', query_string: "id: #{match.loader_name_id}"),
                   class: 'loader_name',
                   tabindex: increment_tab_index,
                   title: "Query the loader name") %>
    <% end %>
  <% end %>
<% end %>
<br>
<%= render partial: 'names/details/apni_tree' %>
<%= render partial: 'names/details/taxo_tree' %>
<%= render partial: "names/details/comments" %>
<%= divider %>
Name path (used for sorting):<br>
<%= @name.name_path %>
<%= divider %>
<%= @name.name_element %>
<span class="pull-right">Name element</span>
<br>
<%= @name.sort_name %>
<span class="pull-right">Sort name</span>
<br>
<%= @name.simple_name %>
<span class="pull-right">Simple name</span>
<%= divider %>
<%= render partial: "names/details/meta" %>
