  <h4>Showing Instances</h4>
  A successful Name search returns a list of names by default.
  <p>
  <p>
  You can ask for Instances as well as Names in the results by adding the <code>show-instances:</code> directive to the search.
  <p>
  This directive takes no argument.
  <p>
  The <code>show-instances:</code> directive also has abbreviations: <code>s-i:</code>, <code>si:</code>, and <code>i:</code> that all do the same thing.

<br>
<br>
  <h4>Searchable Name fields</h4>
  <% link_example = link_to('*costata', search_path(query_string: '*costata', query_target: 'name'),class:'blue', title:"Run the described search.") %>
  <h5>Name</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: '',
     description: "Default search is on the fully qualified <span
     class='purple'>name</span>, see more about name search below."},
    {field_name: 'name:',
     description: "Name refers to the fully qualified name, with authorities.
     <br>Leading and trailing wildcards are added to your search term. *"},
    {field_name: 'name-exact:',
     description: "This searches the same fully qualified name field as name: \
     (above), but no wildcards are added. *"},
    {field_name: 'simple-name:',
     description: %Q(Simple name is the full name without the authorities. e.g.
     "Acacia" in "Acacia Mill.", "Banksia paludosa" in "Banksia paludosa R.Br.".
     <br>Leading and trailing wildcards are added to your search term. *)},
    {field_name: 'simple-name-exact:',
     description: "This searches the same fully qualified name field as \
     simple-name: (above), but no wildcards are added. *"},
    {field_name: 'name-element:',
     description: %Q(Name element is the unique part of the name. e.g. \
     "Acacia" in "Acacia Mill.", "paludosa" in "Banksia paludosa R.Br.".
     <br>Leading and trailing wildcards are added to your search term. *)},
    {field_name: 'name-element-exact:',
     description: "This searches the same fully qualified name field as \
     name-element: (above), but no wildcards are added. *"},
    {field_name: 'verbatim-rank:',
     description: "Searches verbatim rank. Adds wildcards at both ends."},
    {field_name: 'name-path:',
     description: "Searches the name path field, which is mostly hidden but used for sorting. You can add your own wildcards."},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" 
         data-search-directive="<%= val[:field_name] %>"
         title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

<p>* Supports search for empty fields.</p>
<p>** Supports search for non-existing field.</p>

  <h5>Coded fields</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th><th>Values</th></tr>
  <tr><td></td><td></td><td>(The lists below are for convenient viewing of values - selecting them doesn't add them to the search)</td></tr>
  <% [
      {field_name: 'rank:', description: "name rank, allows comma-separated multiple values, single values, and single values with wildcards",partial: "name_ranks/list_for_search_help"},
      {field_name: 'above-rank:', description: "search for names above a specified taxon rank (single value only)"},
      {field_name: 'below-rank:', description: "search for names below a specified taxon rank (single value only)"},
      {field_name: 'status:', description: "name status, allows comma-separated multiple values, single values, and single values with wildcards",partial: "name_statuses/list_for_search_help"},
      {field_name: 'type:', description: "name type, allows comma-separated multiple values, single values, and single values with wildcards",partial: "name_types/list_for_search_help"}
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" 
         data-search-directive="<%= val[:field_name] %>"
         title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
<p>Rank, status and type are mandatory fields so there is no point searching for empty values.</p>
<br/>
  <h5>Authorities</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
      {field_name: 'author:', description: "author abbreviation *"},
      {field_name: 'ex-author:', description: "ex-author abbreviation *"},
      {field_name: 'base-author:', description: "base author abbreviation *"},
      {field_name: 'ex-base-author:', description: "ex-base author abbreviation *"},
      {field_name: 'sanctioning-author:', description: "sanctioning author abbreviation *"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" 
         data-search-directive="<%= val[:field_name] %>"
         title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<p>* Supports search for empty fields - use the -id version e.g. author-id:.</p>
<br/>

<h5>Assertions</h5>
  <h6>Missing authorities</h6>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
      {field_name: 'has-no-author:', description: "has no author abbreviation"},
      {field_name: 'has-no-ex-author:', description: "has no ex-author abbreviation"},
      {field_name: 'has-no-base-author:', description: "has no base author abbreviation"},
      {field_name: 'has-no-ex-base-author:', description: "has no ex-base author abbreviation"},
      {field_name: 'has-no-sanctioning-author:', description: "has no sanctioning author abbreviation"},
      {field_name: 'has-no-authors:', description: "has no authors of any kind"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" 
         data-search-directive="<%= val[:field_name] %>"
         title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Duplication Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-duplicate:', description: "marked as a duplicate; no arguments"},
      {field_name: 'is-not-a-duplicate:', description: "not marked as a duplicate; no arguments"},
      {field_name: 'duplicate-simple-names:', description: "not actually an assertion, but related: more than one name with the same 'simple' name value"},
      {field_name: 'duplicate-full-names:', description: "not actually an assertion, but related: more than one name with the same 'full' name value; no arguments"},
      {field_name: 'master-id:', description: "the master via its ID and all its duplicates; no arguments"},
      {field_name: 'is-a-duplicate-and-master:', description: "records marked as both a master and a duplicate - nested duplication; no arguments, includes common and cultivars"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent"
         data-search-directive="<%= val[:field_name] %>"
         title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Parent-Child Queries</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-parent:', description: "records exist with this marked as their parent"},
      {field_name: 'is-not-a-parent:', description: "no records exist with this marked as their parent"},
      {field_name: 'has-no-parent:', description: "has no parent"},
      {field_name: 'is-a-child:', description: "has a parent"},
      {field_name: 'is-not-a-child:', description: "has no parent"},
      {field_name: 'first-parent-descendants-of-id:', description: "descendant names via parent_id (not second_parent_id - not implemented yet)"},
      {field_name: 'descendants-of-id:', description: "descendant names via parent_id (not second_parent_id - not implemented yet)"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Second Parent-Child Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-second-parent:', description: "a record exists with this as its second parent"},
      {field_name: 'is-not-a-second-parent:', description: "no record exists with this as its second parent"},
      {field_name: 'has-a-second-parent:', description: "has second parent"},
      {field_name: 'has-no-second-parent:', description: "has no second parent"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Instance Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'has-instances:', description: "instances exist for this name"},
      {field_name: 'has-no-instances:', description: "no instances exist for this name"},
      {field_name: 'has-no-primary-instance:', description: "the name has at least one instance but no primary instance"},
      {field_name: 'has-multiple-primary-instances:', description: "the name has at least two primary instances"},
      {field_name: 'is-orth-var-with-no-orth-var-instances:', description: "name has status orth. var. but it has no orthographic variant type instance"},
      {field_name: "is-orth-var-and-sec-ref-first:",
       description: "name status orth. var. but earliest instance \
       (by reference year) is a secondary reference"},
      {field_name: "has-multiple-basionyms:",
       description: "name has at least one standalone instance which is itself \
       cited by more than 1 basionym usage"},
      {field_name: "first-instance-is-syn:",
       description: "name's earliest instance is a synonym - can include false \
       positives when a year-only date is compared to a full date; query can be slow; combine with <code>si:</code> to also see instances"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5>Associated Reference Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'ref-title:', description: "exact search on refence title associated with the name (supply your own wildcards)"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Accepted Instance Note Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'instance-note:', description: "look for names with at least one instance note containing the string you enter after the directive"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>

<h5>Name Status Assertion or Category Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'name-status-nom-illeg:', description: "look for names with a status in the category 'nom. illeg.'"},
      {field_name: 'nom-illeg:', description: "look for names with a status in the category 'nom. illeg.'"},
      {field_name: 'name-status-nom-inval:', description: "look for names with a status in the category 'nom. inval.'"},
      {field_name: 'nom-inval:', description: "look for names with a status in the category 'nom. inval.'"},
      {field_name: 'nom-inval-with-orth-var:', description: "look for names with a status in the category 'nom. inval.' attached to orth var instances"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Accepted Taxonomy Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'in-accepted-tree:', description: "restrict names to those explicitly accepted in or excluded from the accepted tree"},
      {field_name: 'accepted-in-accepted-tree:', description: "restrict names to those explicitly accepted in the accepted tree"},
      {field_name: 'excluded-from-accepted-tree:', description: "restrict names to those explicitly excluded from the accepted tree"},
      {field_name: 'not-in-accepted-tree:', description: "restrict names to those not explicitly accepted in or excluded from the accepted tree"},
      {field_name: 'accepted-name-without-distribution:', description: "accepted names in the current accepted taxonomy with no profile distribution - mostly higher taxa"},
      {field_name: 'accepted-name-with-dist-but-no-bubbles:', description: "accepted names in the current accepted taxonomy with a profile distribution, but no 'bubbles. Show instances on results to drill in.'"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Quality Control Checks</h5>
<table class="table table-striped">
  <% [
      {field_name: 'possibly-malformed:', description: "search for names attached to a genus that don't start with the genus name - they might be malformed"},
      {field_name: 'bad-name-path:', description: "search for names that have a malformed name-path i.e. based on comparison with its parent's name-path"},
      {field_name: 'has-basionym-but-no-base-author:', description: "search for names that have a basionym in synonymy but no base author entry"},
      {field_name: 'isonym-has-early-secondary:', description: "search for names with status isonym who's earliest citation is from a secondary reference"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5>Family queries</h5>
<table class="table table-striped">
  <% [
      {field_name: 'family-id:', description: "search for names attached directly to a family"},
      {field_name: 'no-family-id:', description: "search for names not attached directly to a family -- tip: combine this with a name-rank: query "},
      {field_name: 'in-own-family:', description: "search for names not attached directly to themselves as a family"},
      {field_name: 'fam-in-other-family:', description: "search for family names in a family but not their own family - that is, name.id != name.family_id"},
      {field_name: 'parent-different-to-family:', description: "search for names whose family is different to their parent - ideally combined with rank: genus to find interesting cases"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent"
           data-search-directive="<%= val[:field_name] %>"
           title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<%= render partial: 'comments/advanced_search/help' %>
<%= render partial: 'help/id_search_help' %>
<h5>Source of migrated records</h5>
<p>Useful for records imported from other systems where the source details have been retained.</p>
<p>When the data exists for a record it is displayed at the bottom of the Details tab as "Migrated from source-system #source-id".</p>
<table class="table table-striped">
  <% [
      {field_name: 'source-id:', description: "numeric ID of the source record, needs an argument, takes multiple arguments, no wildcards because it's numeric"},
      {field_name: 'source-system:', description: "source system shown at bottom of Details tab, case-insensitive, needs an argument, takes only one argument, allows wildcards"},
      {field_name: 'source-id-string:', description: "numeric ID as a string - so it takes wildcards and has a wildcard added to the tail, needs an argument"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent"><a href="javascript:void(0)" 
                                    data-search-directive="<%= val[:field_name] %>" 
                                    class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span></a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<%= render partial: 'help/case_and_wildcards_search' %>
