<tr id="ref-instance-<%= record.id %>"
    class="ref-instance instance-as-part-of-concept <%= 'fresh' if record.fresh? %>"
    data-record-type="instance"
    data-row-type="instance_as_part_of_concept_record"
    tabindex="<%= increment_tab_index(100) %>"
>
  <td colspan="1" class="align-top text width-5-percent padding-right-half-em">
    <% if allow_all_even_if_in_current_tree %>
      <%= form.radio_button payload_field_name, record.id, class: "inline pull-right", required: true %>
    <% else %>
      <% if record.show_taxo? %>
        <%= form.radio_button payload_field_name, record.id, class: "inline pull-right", required: true, disabled: true %>
      <% else %>
        <%= form.radio_button payload_field_name, record.id, class: "inline pull-right", required: true %>
      <% end %>
    <% end %>
  </td>
  <td colspan="1" class="text width-90-percent">
    <%= form.label "#{payload_field_name}_#{record.id}", record.listing_citation.html_safe, class:'indent-level-1 font-weight-normal' %> 
  </td>
</tr>

<%# TODO: move logic for this subsequent record to the model. %>
<% if record.this_is_cited_by %>
  <tr id="ref-instance-record-<%= record.this_is_cited_by.id %>"
      class="ref-instance-record instance-as-part-of-concept"
      tabindex="<%= increment_tab_index(100) %>"
      data-record-type="instance"
  >
    <td colspan="1" class="text takes-focus name main-content <%= 'give-me-focus' if give_me_focus %>">
      <span class="indent-level-1">&nbsp;</span>
      <%= "#{record.instance_type.name.downcase} of #{record.this_is_cited_by.name.simple_name}" %>
      <%= "</td><td>this is cited by: #{ record.try('display_as') || record.this_is_cited_by.class.to_s};#{record.this_is_cited_by.id }-2nd part --- #{Pathname.new(__FILE__).basename}".html_safe if true %>
    </td>

  </tr>

<% end %>
