
<br>
<%= form_with model: name_review_comment, url: 'name_review_comments', data: { turbo: false }, local: false, method: :post do |form| %>
      <%= form.hidden_field :batch_reviewer_id %>
      <%= form.hidden_field :loader_name_id %>
      <%= form.hidden_field :batch_review_period_id %>
      <%= form.hidden_field :name_review_comment_type_id, value:  Loader::Name::Review::Comment::Type.where(name: 'general').first.id %>

      
      <% if defined?(offer_context) && offer_context && @loader_name.contexts.size > 1 %>
        Context<span class='red'>*</span>:
        <%= form.select :context, options_for_select(@loader_name.contexts), {}, {title: 'context'} %>
        <br>
      <% else %>
        <%= form.hidden_field :context, value:  name_review_comment.context %>
      <% end %>

      Comment*: <%= form.text_area :comment, class: 'form-control give-me-focus', title: "Enter comment", required: true, size: "60x10", tabindex: increment_tab_index %>
      <%= form.submit id: "save-new-batch-review-comment-btn", class: 'btn btn-primary', title: "Save comment", tabindex: increment_tab_index %>
      <br>
  <% end %>

