<% if @loader_name.preferred_matches.size == 0 %>
  <br><br>
  No preferred match, nothing to do here until there is a preferred match.
<% else %>
  <% @loader_name.preferred_matches.each do |match| %>

    <% if match.taxonomy_choice_made? %>
      <h5>Choice</h5>
        <%= render partial: 'loader/names/tabs/ref_instance/accepted_names/show_current_choice', locals: {match: match} %> 

      <% if match.source_for_copy_instance_id.present? %>
         <%= render partial: 
                'loader/names/tabs/ref_instance/accepted_names/copy_and_append/source_instance_summary',
                locals: {match: match} %>
      <% end %>
      <% if match.standalone_instance_id.present? %>
     <br><br>
     <%= link_to("Show the standalone instance in context",
                 search_path(query_target: "Name",
                             query_string: "id: #{@loader_name.preferred_match.name_id} show-instances:",
                             focus_id:"Instance-#{@loader_name.preferred_match.standalone_instance_id}"),
                tabindex: increment_tab_index,
                title: "Show the instance",
                class: 'blue') %>
      <% end %>
 <br><br>
<%= divider %>
<b>Undo choice</b>
     <%= render partial: 
                'loader/names/tabs/ref_instance/accepted_names/undo_choice',
                locals: {match: match} %>
      <br> <br>
      <div id="search-result-details-info-message-container" class="message-container"></div>
      <div id="search-result-details-error-message-container" class="error-container"></div>
<% else %>
      <%= render partial: 'loader/names/tabs/ref_instance/accepted_names/three_way_choice_form', locals: {match: match} %>
      <br><br>
      <div id="search-result-details-info-message-container" class="message-container"></div>
      <div id="search-result-details-error-message-container" class="error-container"></div>
    <% end %>
  <% end %>
  <br><br>

<% end %>
