<div>
  
  <div id="message_<%= product_item_config.id %>" class="message-container"></div> <!-- Message container -->
</div>

<div style="padding: 10px;margin: 5px 0 30px 0px;background-color: white;border: 1px solid #afafaf;">
  <!-- Profile Text Form -->
  <% profile_text = profile_item.profile_text || Profile::ProfileText.new %>
  <% url = profile_text.persisted? ? profile_text_path(id: profile_text.id) : profile_texts_path %>
  <% method = profile_text.persisted? ? :put : :post %>
  <div id="profile_text_form_<%= product_item_config.id %>" style="overflow: hidden; margin-bottom: 10px;">
    <%= render partial: "profile_texts/form",
        locals: {
        profile_text: profile_text,
        url: url,
        method: method,
        product_item_config: product_item_config,
        instance_id: instance.id,
        profile_item: profile_item,
        }
    %>
  </div>
  <div id="profile_item_references_<%= product_item_config.id %>" style="display: block" >
    <%= render partial: "profile_item_references/edit_form",
        collection: profile_item.profile_item_references,
        locals: {profile_item: profile_item},
        as: :profile_item_reference
    %>
  </div>

  <div id="add_reference_message_<%= product_item_config.id %>" class="message-container"></div> <!-- Message container -->
  <div id="add_reference_<%= product_item_config.id %>">
    <% if profile_item.persisted? %>
      <div style="padding: 30px 10px 40px 10px;border: 1px solid #ddd;margin-top:30px;">
        <label>Reference</label>
        <div id="add_reference_form_<%= product_item_config.id %>" style="margin-bottom: 10px;">
            <%= render partial: 'profile_item_references/form',
            locals: {
                url: profile_item_references_path,
                method: :post,
                profile_item: profile_item,
                profile_item_reference: Profile::ProfileItemReference.new
            } %>
        </div>
      </div>
    <% end %>
  </div>

  <div style="padding: 30px 10px 10px 10px;">
    <div id="add_annotation_form<%= product_item_config.id %>">
      <% if profile_item.persisted? %>
      <!-- Profile Item Reference Form -->
      <div id="annotation_message_<%= profile_item.id %>" class="message-container"></div>
      <label>Annotate this profile item:</label>
      <% profile_item_annotation = profile_item.profile_item_annotation || profile_item.build_profile_item_annotation %>
      <% url = profile_item_annotation.persisted? ? profile_item_annotation_path(profile_item_annotation) : profile_item_annotations_path %>
      <% method = profile_item_annotation.persisted? ? :put : :post %>
      <%= render partial: 'profile_item_annotations/form',
          locals: {
          url: url,
          method: method,
          profile_item_annotation: profile_item_annotation
          } %>
      <% end %>
    </div>
  </div>

  <div id="profile_item_actions_<%= product_item_config.id %>">
    <% if profile_item.persisted? %>
        <%= render partial: "profile_items/delete_widgets", locals: {profile_item: profile_item} %>
    <% end %>
  </div>
</div>