
<% title_text = "view this issue in JIRA. Opens in a new tab or window." %>
<div id="search-results" 
     class="col-xs-12 col-sm-12 col-md-12 col-lg-12 
     nothing-selected stylish-scrollbar">
  <div id="search-results-inner-for-history" 
       class="no-left-padding col-xs-12 col-sm-12 col-md-12 
       col-lg-12 search-results-inner">
    <h3>Changes <%= the_year %></h3>
    <p>This week in the Editor...</p>
    <% if defined? the_note %>
      <p><%= the_note %></p>
    <% end %>
    Tickets:<%= @tickets.size %>
    <% unless the_list.blank? %>

    <ul class="list-group">  
     <% the_list.each_with_index do |val, ndx| %>
       <% if val.has_key?(:release) %>
       <% down_to_first_release = true %>
       <li class="list-group-item release">
        <span>
          <%= val[:date] %>
          &mdash;
          Production Release
        </span>
       <% else %>
       <li class="list-group-item one-change">
        <%= val[:date] %>
        &mdash;
        <% if val[:jira_id].present? %>
          <% canonical_jira_id = ((val[:jira_project]||'NSL')+'-'+val[:jira_id]) %>
        <% else %> 
          <% canonical_jira_id = nil %>
        <% end %>
        <%= "#{canonical_jira_id}:&nbsp;".html_safe unless canonical_jira_id.blank? %> 
        <%= (val[:description]).html_safe %>
        <% jira_status = 'Unknown' %>
          <% if canonical_jira_id.present? %>
            <% unless canonical_jira_id.match(/-.*-/) %>

              <% jira_status = JiraTicket.results[canonical_jira_id] unless @tickets.blank? %>

              <span class="badge jira <%= jira_status&.to_s&.downcase&.gsub(/ /,'-') %>">
               <%= link_to "(#{ val[:jira_project]||'NSL' }-#{val[:jira_id]}) 
                 #{editor_icon('external-link fa-lg')}".html_safe, 
               "https://ibis-cloud.atlassian.net/browse/#{ val[:jira_project]||'NSL' }-#{val[:jira_id]}",
                 class:"white hover-white",
                 title: "Status: #{jira_status} - #{title_text}",
                 target: "other" %>
              </span>
            <% end %>
         <% end %>
       <% end %>
       </li>
     <% end %>
     </ul>


     <% end %>


    <br> <br> <br> <br>
    <br> <br> <br> <br>
  </div>
</div>

