<!-- Profile Reference List -->
<div style="padding-top:10px;border-top:1px dashed #ddd;display:flex;column-gap:5px;align-items:center">
  <%= sanitize(profile_item_reference.reference.try(:citation_html).to_s) %>
  <%= render partial: "profile_item_references/delete_widgets",
    locals: {
      profile_item_reference: profile_item_reference
    }
  %>
</div>

<div style="padding-bottom: 20px;" id="edit_reference_<%= profile_item_reference.profile_item_id_reference_id %>">
  <% field_id = "#{profile_item.id}-#{profile_item_reference.profile_item_id_reference_id}" %>
  <%= form_with model: profile_item_reference, url: save_profile_item_references_path(profile_item_reference.profile_item_id, profile_item_reference.reference_id), method: :put, remote: true, html: { data: { type: :json, form_type: 'reference_item_form' }, class: 'prompt-form-save' } do |f| %>
    <div id="edit_reference_annotation_message_<%= profile_item_reference.profile_item_id_reference_id %>" class="message-container"></div>
    <label>Annotation:</label>
    <div style="display: flex">
      <%= text_field_tag "profile_item_reference[annotation]",
          profile_item_reference.annotation,
          id: "reference-annotation-#{field_id}",
          class: "form-control",
          placeholder: "Enter reference annotation",
          required: false,
          style: "background-color: white;float: left"
        %>
      <%= f.submit 'Save', style: 'background-color: #5a5a5a; color: white; border: none; padding: 3px 10px; cursor: pointer; border-radius: 4px; margin-left: 10px;' %>
    </div>
  <% end %>
</div>
