<%= divider %>
<h4>The Drafted Flags</h4>
<% if @orchid.accepted_and_not_doubtful? %>
  The drafted flags can apply to this record type.
  <br>
  <% if @orchid.orchids_name.size == 0 %>
    There's no saved match to a Name record, so no drafted flags are possible yet.
  <% elsif @orchid.orchids_name.size > 1 %>
    There's multiple saved matches to Name records - this is unexpected and confusing. Please alert IBIS.
  <% else %>
    <% if @orchid.orchids_name.first.drafted? %>
      This orchid is already drafted.
    <% else %>
      This orchid is matched but not yet drafted.
      <br>
      <% if @orchid.orchids_name.first.manually_drafted? %>
        This orchid is already manually drafted.
        <%= form_for(@orchid.orchids_name.first, as: 'orchid-name', role: 'form', remote: true) do |f| %>
          <%= f.hidden_field(:orchid_name_id, value: @orchid.orchids_name.first.id) %>
          <%= f.submit "Remove the manually-drafted flag", id: 'save-orchid-name-manually-drafted', tabindex: increment_tab_index, title: 'Whoops! Remove the flag.', class: 'btn btn-primary width-20em', disabled: false %>
        <% end %>
      <% else %>
        <%= form_for(@orchid.orchids_name.first, as: 'orchid-name', role: 'form', remote: true) do |f| %>
          <%= f.hidden_field(:orchid_name_id, value: @orchid.orchids_name.first.id) %>
          <%= f.submit "Flag it as manually drafted", id: 'save-orchid-name-manually-drafted', tabindex: increment_tab_index, title: 'Flag as manually drafted', class: 'btn btn-primary width-15em', disabled: false %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  The drafted flags are not relevant to this record type.
<% end %>

