
    <% for record in @search.executed_query.results %>
      <% display_as = record.class.name == 'Hash' ? record[:display_as] || record.class.to_s  : record.try('display_as') || record.class.to_s %>
      <%# TODO: standardize on strings or symbols, at least for the instance record variants. %>
      <% case display_as %>
      <% when 'Loader Name' %>
        <%= render partial: 'application/search_results/print/records/loader/name',
          locals: {search_result: record, give_me_focus: nil} %>
      <% when 'Name Review Comment' %>
        <%= render partial: 'application/search_results/print/records/loader/name/review/comments',
          locals: {search_result: record, give_me_focus: nil} %>
      <% when 'Instance' %>
        <%= render partial: 'application/search_results/print/records/instance',
          locals: {search_result: record, give_me_focus: nil} %>
      <% when 'Profile::ProfileItem' %>
        <%= render partial: 'application/search_results/print/records/profile_item',
          locals: {search_result: record, give_me_focus: nil} %>
      <% else %>
        <tr>
          <td class="width-1-percent"></td>
          <td class="min-with-40-percent width-50-percent max-width-60-percent" colspan="4">
            <%= display_as %> is an unknown type of print search result
          </td>
          <td class="width-5-perent filler"></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td class="min-with-40-percent width-50-percent max-width-90-percent" colspan="99">
        <br> <br> <br> <br> <br>
      </td>
    </tr>




