<% partials = 'application/search_results' %>
      <caption class="hidden">Results of the latest search</caption>
      <% @focus_anchor_id = params[:focus] unless params[:focus].blank? %>            
    <% for record in @search.executed_query.results %><%# Allow for hashes or ActiveRecords, so use hash key syntax. %>
      <% if record[:anchor_id] == @focus_anchor_id %>
        <% give_me_focus = true  %>
        <%  @focus_anchor_id = 'do not use again'  %>
      <% else %>
       <% give_me_focus = false %>
      <% end %>

      <% display_as = record.class.name == 'Hash' ? record[:display_as] || record.class.to_s  : record.try('display_as') || record.class.to_s %>
      <%# TODO: standardize on strings or symbols, at least for the instance record variants. %>
      <% case display_as %>
      <% when 'Reference' %>  
        <%= render partial: "#{partials}/reference_record", 
          locals: {reference: record, give_me_focus: give_me_focus} %>
      <% when :reference_as_part_of_concept %>
        <%= render partial: "#{partials}/reference_as_part_of_concept_record", 
          locals: {reference: record, give_me_focus: give_me_focus} %>
      <% when 'Author' %>
        <%= render partial: "#{partials}/author_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Name' %>
        <%= render partial: "#{partials}/name_record", locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when :name_as_part_of_concept %>
        <%= render partial: "#{partials}/name_as_part_of_instance_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when :instance_as_part_of_concept %>
        <%= render partial: "#{partials}/instance/instance_as_part_of_concept_record",
          locals: {search_result: record, give_me_focus: give_me_focus}%>
      <% when :citing_instance_within_name_search %>
        <%= render partial: "#{partials}/instance/citing_instance_within_name_search_record",
          locals: {search_result: record, give_me_focus: give_me_focus}%>
      <% when :instance_within_reference %>
        <%= render partial: "#{partials}/instance/instance_within_reference_record",
          locals: {search_result: record, give_me_focus: give_me_focus}%>
      <% when 'Instance' %>
        <%= render partial: "#{partials}/instance/instance_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'cites-this-instance' %>
        <%= render partial: "#{partials}/instance/instance_cites_this_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'name-cited-by-instance' %>
        <%= render partial: "#{partials}/instance/instance_cited_by_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'instance-is-cited-by' %>
        <%= render partial: "#{partials}/instance/instance_is_cited_by",
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'cited-by-instance' %>  
        <%= render partial: "#{partials}/instance/cited_by_instance", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'cited-by-instance-within-full-synonymy' %>  
        <%= render partial: "#{partials}/instance/instance_cited_by_record_within_full_synonymy", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
     <% when 'cited-by-relationship-instance' %>  
       <%= render partial: "#{partials}/instance/instance_cited_by_relationship_instance_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'cited-by-relationship-instance-name-only' %>  
        <%= render partial: "#{partials}/instance/instance_cited_by_relationship_instance_name_only", 
           locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'instance-for-expansion' %>  
        <%= render partial: "#{partials}/instance/instance_for_expansion_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Loader Batch' %>  
        <%= render partial: "#{partials}/loader_batch_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Loader Batch in stack' %>  
        <%= render partial: "#{partials}/stack/loader_batch_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Loader Name' %>  
        <%= render partial: "#{partials}/loader_name_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Batch Review' %>  
        <%= render partial: "#{partials}/batch_review_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Batch Review in stack' %>  
        <%= render partial: "#{partials}/stack/batch_review_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Batch Reviewer' %>  
        <%= render partial: "#{partials}/batch_reviewer_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Batch Reviewer in stack' %>  
        <%= render partial: "#{partials}/stack/batch_reviewer_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Review Period' %>  
        <%= render partial: "#{partials}/review_period_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Review Period in stack' %>  
        <%= render partial: "#{partials}/stack/review_period_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'BulkProcessingLog' %>  
        <%= render partial: "#{partials}/bulk_processing_log_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'User' %>  
        <%= render partial: "#{partials}/user_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Organisation' %>  
        <%= render partial: "#{partials}/org_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Name Review Comment' %>  
        <%= render partial: "#{partials}/main/loader/name/review/comment_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% when 'Profile::ProfileItem' %>  
        <%= render partial: "#{partials}/profile_item_record", 
          locals: {search_result: record, give_me_focus: give_me_focus} %>
      <% else %>
        <tr>
          <td class="width-1-percent"></td>
          <td class="min-with-40-percent width-50-percent max-width-60-percent">
            <%= display_as %> is an unknown type of standard search result
          </td>
          <td class="width-5-perent filler"></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td class="width-1-percent"></td>
      <td class="min-with-40-percent width-50-percent max-width-60-percent">
        <br> <br> <br> <br> <br>
      </td>
      <td class="width-5-percent filler"></td>
    </tr>


