<div id="admin-page">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
    <tr><td colspan="99" width="80-percent">
        
    <h3>Admin</h3>
    <h4>Configuration</h4>


    <h5>Application environment</h5>
    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em">Rails.env</td><td> <%= Rails.env %> </td></tr>

    <tr><td>Ruby platform</td><td> <%= RUBY_PLATFORM %> </td></tr>
    <% if RUBY_PLATFORM =~ /java/i %>
    <tr><td>JRuby version</td><td> <%= JRUBY_VERSION %> </td></tr>
    <% end %>
    <tr><td>Ruby version</td><td> <%= RUBY_VERSION %> </td></tr>

    <tr><td>Rails</td><td> <%= Rails::VERSION::STRING %> </td></tr>

    <tr><td>Schema version</td><td> <%= DbVersion.current %> </td></tr>
    <tr><td>Application version</td><td> <%= Rails.configuration.try('version') %> </td></tr>
    <tr><td>Build timestamp</td><td>
        <%= render partial: 'services/build' %>
    </td></tr>
    <tr><td>Path to broadcast file</td><td> <%= Rails.configuration.try(:path_to_broadcast_file) %> </td></tr>
    <tr><td>Namespace</td><td> <%= Namespace.try(:default).try(:name) %> </td></tr>
    <tr><td>Hostname</td><td> <%= Socket.gethostname %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h5>Database environment</h5>
    <table class="table table-condensed search-results width-100-percent">
      <tr><td class="width-40-percent min-width-10em" >Database</td><td> <%= Rails.configuration.database_configuration[Rails.env]["database"] %> </td></tr>
      <tr><td>Adapter</td><td> <%= Rails.configuration.database_configuration[Rails.env]["adapter"] %> </td></tr>
      <tr><td>Encoding</td><td> <%= Rails.configuration.database_configuration[Rails.env]["encoding"] %> </td></tr>
      <tr><td>Host</td><td> <%= Rails.configuration.database_configuration[Rails.env]["host"] %> </td></tr>
      <tr><td>Username</td><td> <%= Rails.configuration.database_configuration[Rails.env]["username"] %> </td></tr>
      <tr><td>Pool</td><td> <%= Rails.configuration.database_configuration[Rails.env]["pool"] %> </td></tr>
      <tr><td>Connections</td><td> <%= ActiveRecord::Base.connection_pool.connections.size %> </td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h5>Rails timezone</h5>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">Time.zone</td><td> <%= Time.zone %> </td></tr>
    <tr><td>Time.zone.now</td><td> <%= Time.zone.now %> </td></tr>
    <tr><td>Time.now</td><td> <%= Time.now %> </td></tr>
    <tr><td>active_record.default_timezone</td><td> <%= Rails.configuration.try(:active_record).try(:default_timezone) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h5>Rails configuration</h5>

    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em">config_file_tag</td>
        <td> <%= Rails.configuration.try(:config_file_tag) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">env_editor_config_file (optional) </td><td> <%= Rails.configuration.try(:env_editor_config_file) || '' %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">resolved_editor_config_file </td><td> <%= Rails.configuration.try(:resolved_editor_config_file) || '' %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">action_controller.relative_url_root</td>
        <td> <%= Rails.configuration.try('action_controller').try(:relative_url_root) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">ActionController::Base.config.relative_url_root </td>
        <td> <%= ActionController::Base.config.relative_url_root  %> </td></tr>

    <tr><td>session_key_tag</td><td> <%= Rails.configuration.try(:session_key_tag) %> </td></tr>

    <tr><td>environment</td><td> <%= Rails.configuration.try(:environment) %> </td></tr>

    <tr><td>action_controller.perform_caching</td><td> <%= Rails.configuration.action_controller.try(:perform_caching) %> </td></tr>
    <% if ENV['SECRET_KEY_BASE'].blank? %> 
      <tr><td>SECRET_KEY_BASE stats</td><td>nil</td></tr>  
    <% else %>
      <tr><td>SECRET_KEY_BASE stats</td><td> <%= ENV['SECRET_KEY_BASE'][3..6] %> <%= ENV['SECRET_KEY_BASE'].length %> </td></tr>  
    <% end %>
    <% if ENV['RAILS_MASTER_KEY'].blank? %> 
      <tr><td>RAILS_MASTER_KEY stats</td><td>nil</td></tr>  
    <% else %>
      <tr><td>RAILS_MASTER_KEY stats</td><td> <%= ENV['RAILS_MASTER_KEY'][3..6] %> <%= ENV['RAILS_MASTER_KEY'].length %> </td></tr>  
    <% end %>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>


        <h5>LDAP</h5>
    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em" >ldap_host</td><td> <%= Rails.configuration.try(:ldap_host) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em" >ldap_port</td><td> <%= Rails.configuration.try(:ldap_port) %> </td></tr>
    <tr><td>ldap_admin_username</td> <td> <%= Rails.configuration.try(:ldap_admin_username) %> </td></tr>
    <tr><td>ldap_userid_field</td> <td> <%= Rails.configuration.try(:ldap_userid_field) %> </td></tr>
    <tr><td>ldap_verify_certificate</td> <td> <%= Rails.configuration.try(:ldap_verify_certificate) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em" >ldap_base</td> <td> <%= Rails.configuration.try(:ldap_base) %> </td></tr>
    <tr><td>ldap_users</td><td> <%= Rails.configuration.try(:ldap_users) %> </td></tr>
    <tr><td>ldap_groups</td><td> <%= Rails.configuration.try(:ldap_groups) %> </td></tr>
    <tr><td>ldap_generic_users</td> <td> <%= Rails.configuration.try(:ldap_generic_users) %> </td></tr>
    <tr><td>group_filter_regex</td> <td> <%= Rails.configuration.try(:group_filter_regex) %> </td></tr>


    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h5>Services</h5>
    <table class="table table-condensed search-results width-100-percent">
      <tr>
        <td class="text">services_clientside_root_url</td>
        <td> <%= Rails.configuration.try(:services_clientside_root_url) %> </td>
      </tr>
      <tr>
        <td class="width-40-percent min-width-10em" >
          services
        </td>
        <td> 
            <%= Rails.configuration.try(:services) %>
        </td>
      </tr>
      <tr><td class="width-40-percent min-width-10em" >name_services</td>
          <td> <%= Rails.configuration.try(:name_services) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em" >reference_services</td>
        <td> <%= Rails.configuration.try(:reference_services) %> </td></tr>

    <tr><td>nsl_links</td>
        <td> <%= Rails.configuration.try(:nsl_links) %> </td></tr>

    <tr><td>nsl_host_and_port</td>
        <td> <%= Rails.configuration.try(:nsl_host_and_port) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>

    <tr><td class="width-40-percent min-width-10em" colspan="2"><strong>Services used in the editor</strong></td></tr>

    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}docs/main.html" %>
    <tr><td class="width-40-percent min-width-10em" >API Doc </td><td> <%= link_to(service_url, service_url, title: 'API Documentation') %> </td></tr>

    <tr><td colspan="2"><strong>Services that do not change data</strong></td></tr>
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}api/tree/name/APC/91759" %>
    <tr><td class="width-40-percent min-width-10em" >A client side service </td><td> <%= link_to(service_url, service_url, title: 'Link to the APC tree client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/apc.json" %>
    <tr><td class="width-40-percent min-width-10em" >In APC?</td><td> <%= link_to(service_url, service_url, title: 'Link to the "in APC?" client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/apni.json" %>
    <tr><td class="width-40-percent min-width-10em" >In APNI? </td><td> <%= link_to(service_url, service_url, title: 'Link to the "in APNI?" client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/family.json" %>
    <tr><td>APNI Name Information</td><td> <%= link_to(service_url, service_url, title: 'Link to an APNI name information service.') %> </td></tr>

    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/name-strings.json" %>
    <tr><td>Name strings</td><td> <%= link_to(service_url, service_url, title: 'Link to the name strings client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/reference/apni/17525/api/citation-strings.json" %>
    <tr><td>Reference strings</td><td> <%= link_to(service_url, service_url, title: 'Link to the reference strings client side service.') %> </td></tr>
    </table>

    
    <h5>Mapper</h5>
    <table class="table table-condensed search-results width-100-percent">
      <tr>
        <td class="width-40-percent min-width-10em" >
        x.mapper_api.version </td>
        <td> <%= Rails.configuration.x.try(:mapper_api).try(:version) %> </td>
      </tr>
      <tr>
        <td>x.mapper_api.url </td>
        <td> <%= Rails.configuration.x.try(:mapper_api).try(:url) %> </td>
      </tr>
      <tr>
        <td>x.mapper_api.username </td>
        <td> <%= Rails.configuration.x.try(:mapper_api).try(:username) %> </td>
      </tr>
      <tr>
        <td>x.mapper_api.password clues </td>
        <td> <%= Rails.configuration.x.try(:mapper_api).try(:password).try(:first) %>, 
             <%= Rails.configuration.x.try(:mapper_api).try(:password).try(:last) %>, 
             <%= (Rails.configuration.x.try(:mapper_api).try(:password).try(:length) || 0) > 15 %> </td>
      </tr>
    </table>

    <h5>Exception logging</h5>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td>Test exception logging.</td><td><%= link_to editor_icon('bomb','',class: 'black fa-2x'), throw_path, title:"Throw a harmless exception" %></td></tr>
    </table>

    <h5>ICN/ICZN Switches</h5>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">allow_name_changed_combination </td><td> <%= Rails.configuration.try(:allow_name_changed_combination) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">allow_name_ex_author </td><td> <%= Rails.configuration.try(:allow_name_ex_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">allow_name_base_author </td><td> <%= Rails.configuration.try(:allow_name_base_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">allow_name_ex_base_author </td><td> <%= Rails.configuration.try(:allow_name_ex_base_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">allow_name_sanctioning_author </td><td> <%= Rails.configuration.try(:allow_name_sanctioning_author) %> </td></tr>
    <tr><td class="width-5-percent">&nbsp;</td></tr>
    </table>

    <h5>Feature Flags</h5>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">batch_loader_aware </td><td> <%= Rails.configuration.try(:batch_loader_aware) || false %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">profile_edit_aware </td><td> <%= Rails.configuration.try(:profile_edit_aware) || false %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">batch_loader_delete_syn_conflicts_aware</td><td> <%= Rails.configuration.try(:batch_loader_delete_syn_conflicts_aware) || false %> </td></tr>
    </table>
    <br> <br>
    <h5>Instance delete delay</h5>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">instance_delete_delay_seconds</td><td> <%= Rails.configuration.try(:instance_delete_delay_seconds) %> </td></tr>
    </table>
    <br>
    <h5>Jiras</h5>
    <table class="table table-condensed search-results width-100-percent">
      <tr><td class="width-40-percent min-width-10em">jira_key</td><td> <%= (!Rails.configuration.try(:jira_key).try('length').nil?) ? 'exists' : 'not there'  %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">jira_api_timeout</td><td> <%= Rails.configuration.try(:jira_api_timeout).to_s %> seconds </td></tr>
    </table>
    <br>
</div>

