<% increment_tab_index(0) %>
<%= render partial: 'detail_line',
           locals: {info: @batch_reviewer.user.given_name, label: 'given name'} %>

<%= render partial: 'detail_line',
           locals: {info: @batch_reviewer.user.family_name, label: 'family name'} %>

<%= render partial: 'detail_line',
           locals: {info: @batch_reviewer.name, label: 'name'} %>


<%= render partial: 'detail_line',
      locals: {label: 'review period',
               info: link_to(@batch_reviewer.period.name,
                        search_path(
                          query_target: 'batch review periods',
                          query_string: "id: #{@batch_reviewer.period.id}"),
               title:"Query the period",class:'blue')} %>

<%= render partial: 'detail_line',
           locals: {info: @batch_reviewer.org.name, label: 'representing'} %>
<%= render partial: 'detail_line',
    locals: {label: 'query the stack',
             info: link_to("#{@batch_reviewer.period.review.batch.name} Stack",
                          search_path(
                            query_string: "batch-id: #{@batch_reviewer.period.review.batch.id}",
                            query_target: 'batch stacks',
                            focus_id: "batch-reviewer-#{@batch_reviewer.id}"),
                 title:"Query batch in stack format",class:'blue')} %>

<%= render partial: 'detail_line',
    locals: {label: 'query all stacks',
             info: link_to("All Batch Stacks",
                          search_path(
                            query_string: "*",
                            query_target: 'batch stacks',
                            focus_id: "batch-reviewer-#{@batch_reviewer.id}"),
                 title:"Query the batch stack",class:'blue')} %>

<br>
<%= divider %>

Batch Reviewer #<%= @batch_reviewer.id %>
<h5>Metadata</h5>
<%= created_by_whom_and_when(@batch_reviewer).html_safe %> <br>
<%= updated_by_whom_and_when(@batch_reviewer).html_safe %>


