<tr id="search-result-<%= search_result.id %>" 
  class="search-result log-record show-no-details <%= 'fresh' if search_result.fresh? %>"  
  data-get-url=""
  data-edit-url=""
  data-base-url=""
  data-tab-url=""
  data-record-id="<%#= search_result.id %>"
  data-record-type=""
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td colspan="3" class="text takes-focus name main-content min-width-40-percent max-width-100-percent width-100-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
      class="show-details-link"
      tabindex="<%= increment_tab_index %>" 
      title="Bulk processing log record. Select to show details."
      id="<%= %Q(#{search_result.class}-#{search_result.id}) %>">
      <%= search_result.log_entry.html_safe %>
      <%= render partial: 'application/search_results/link_texts/bulk_processing_log', locals: {search_result: search_result} %>
    </a>
  </td>
</tr>

