<tr id="search-result-<%= search_result.id %>" 
  class="search-result show-details <%= 'fresh' if search_result.fresh? %>"  
  data-get-url=""
  data-edit-url="<%= loader_name_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-base-url=""
  data-tab-url="<%= loader_name_tab_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-record-id="<%= search_result.id %>"
  data-record-type="loader-name"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('orchid') %></td>
  <td class="text takes-focus name main-content min-width-40-percent max-width-60-percent width-50-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
      class="show-details-link inline"
      tabindex="<%= increment_tab_index %>" 
      title="Loader Name record. Select to show details."
      id="<%= %Q(loader-name-#{search_result.id}) %>">
      <%= render partial: 'application/search_results/link_texts/loader/name', locals: {search_result: search_result} %>
    </a>

    <% if ['accepted', 'excluded', 'heading', 'synonym', 'misapplied'].include?(search_result.record_type)  %>
      <%= link_to('<i class="fa-solid fa-plus"></i>'.html_safe, loader_name_new_row_here_path(search_result.id),
                  title: 'Start a new loader-name record',
                  class: 'inline display-only-when-showing-details',
                  remote: true) %>
    <% end %>

    <% unless search_result.remark_to_reviewers.blank? %>
      <span class="review loader-name remark-to-reviewers">
    <%= search_result.remark_to_reviewers.html_safe %>
      </span>
    <% end %>

    <% unless search_result.notes.blank? %>
      <% case search_result.record_type %>
      <% when 'in-batch-note' %>
        <span class="fat in-batch-note" title="In-Batch Note"><%= search_result.notes %></span>
      <% when 'in-batch-compiler-note' %>
        <span class="fat in-batch-compiler-note" title="In-Batch Compiler Note"><%= search_result.notes %></span>
      <% else %>
        <span class="fat compiler-note" title="Compiler Note"><%= search_result.notes %></span>
      <% end %>
    <% end %>
  </td>
  <td class="takes-focus width-5-percent filler">&nbsp;</td>
</tr>

