<% increment_tab_index(0) %>

<%= link_to(@taxonomy_version_review.tree_version.draft_name,
                search_path(query_target: 'tree_version',
                            query_string: "id: #{@taxonomy_version_review.tree_version.id}"),
                class: 'taxonomy review',
                tabindex: increment_tab_index,
                title: "Query the tree version") %>
<span class="pull-right">taxonomy version subject to review</span> <br>

<h5>Review Periods</h5>
<% @taxonomy_version_review.periods.each do |review_period| %>
  <%= review_period.id %> | 
  <%= link_to(review_period.start_date.strftime("%d-%b-%Y"),
              search_path(query_target: 'taxonomy_version_review_period',
                          query_string: "taxonomy_version_review_id: #{@taxonomy_version_review.id}"),
              class: 'taxonomy review',
              tabindex: increment_tab_index,
              title: "Query the review period") %>
  (<%= review_period.status %>)
  <br>
<% end %>
<%= divider %>
<%= @taxonomy_version_review.id %> <span class="pull-right">ID</span> <br>
<%= created_by_whom_and_when(@taxonomy_version_review).html_safe %> <br>
<%= updated_by_whom_and_when(@taxonomy_version_review).html_safe %>


