<div id="orchids-reports-inner" class="reports-inner">

<% increment_tab_index(0) %>
<h4>Loading Orchids Data into APNI and APC</h4>
<h5>Steps</h5>
<ol>
  <li>Match a raw orchid with the correct APNI name.</li>
  <li>Lock these matches in as <b>preferred matches</b>.</li>
  <li>Identify an instance that documents the usage of the orchid for APC.</li>
  <li>If no such instance exists, <b>create one</b>.</li>
  <li><b>Add</b> instance to the draft taxonomy.</li>
</ol>

<p>You can work through these steps for each <q>accepted</q> raw orchid record,
but in many cases it makes sense to push batches of records through the process.</p>

<%= link_to "See recent logs", search_path(query_string: "latest:",query_target: 'orchid_processing_logs'), title: "See logs", class: "with-underline" %> 


<h5>Enter a taxon string:</h5>
<%= form_tag({controller: "orchids_batch", action: "submit"}, method: "post", remote: true) do %>
  <div class="width-56-4em">
    <input name="taxon_string" id="taxon-string" type="text" value="<%= session[:taxon_string] %>" class="form-control" required title="taxon string for batch" />
  </div>
  <input name="gui_submit_place" id="gui-submit-place" type="hidden" title="Where this form is, so we can display result messages in the right place" value="global-tab" />
  <input id="status-submit" name="submit" type="submit" value="Show Status" class="btn btn-primary width-9em" title="Show information about processing so far" />
  <input id="create-matches-batch-submit" name="submit" type="submit" value="Create Preferred Matches" class="btn btn-primary width-15em" title="Create preferred matches" />
  <input id="create-instances-batch-submit" name="submit" type="submit" value="Create Draft Instances" class="btn btn-primary width-15em" title="Create draft instances" />
  <% if Rails.configuration.try('allow_orchid_tree_operations') %>
    <% if @working_draft.nil? %>
      <span>(Please choose a draft for taxonomy work)<span>
    <% else %>
      <input id="add-instances-to-draft-tree-batch-submit"
             name="submit"
             type="submit"
             value="Add to draft tree"
             class="btn btn-primary width-15em"
             title="Add instance to the draft taxonomy"
             disabled="true"/>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Enable Add to draft tree", {controller: 'orchids_batch', action: 'enable_add'}, {id: 'enable-add', class: 'btn btn-primary', remote: true, title: "Enable the Add to tree button", method: :post} %>
      <%= link_to "Disable Add to draft tree", {controller: 'orchids_batch', action: 'disable_add'}, {id: 'disable-add', class: 'btn btn-primary', style: 'display: none;', remote: true, title: "Enable the Add to tree button", method: :post} %>
    <% end %>
  <% else %>
    Tree operations not allowed by configuration
  <% end %>

<% end %>

<div id="orchid-batch-status-info-message-container" class="message-container"></div>
<div id="orchid-batch-status-error-message-container" class="error-container message-container"></div>
<div id="global-tab-orchid-batch-status-info-message-container" class="message-container"></div>
<div id="global-tab-orchid-batch-status-error-message-container" class="error-container message-container"></div>
<div id="create-preferred-matches-info-message-container" class="message-container"></div>
<div id="create-preferred-matches-error-message-container" class="error-container message-container"></div>
<div id="create-draft-instances-info-message-container" class="message-container"></div>
<div id="create-draft-instances-error-message-container" class="error-container message-container"></div>
<div id="add-instances-to-tree-info-message-container" class="message-container"></div>
<div id="add-instances-to-tree-error-message-container" class="error-container message-container"></div>
<%= link_to "[clear]", orchids_batch_clear_path, class:"hidden message-clearer with-underline", remote: true, title: "Clear the messages" %> 
<br>
<div id="orchids-status-container">
</div>
<%= divider %>

<h5>Important</h5>

<ul class="no-indent">
  <li/>The buttons run the task on the taxon string you enter.
  <li/>If the button's action can be done, the Editor/Services will do it and report the number of records changed.
  <li/>If the action can be done only for some of the target records, the Editor/Services will do what's possible and report the number of records changed.
  <li/>You may have to look at specific records to see why they aren't being changed or processed - the jobs here will not report individual problems.
  <li/>Hitting buttons again and again or out of order does no harm
  <li/>Attached synonyms <b>are</b> included in the processing with the accepted taxon
  <li/><b>Not</b> wildcarded, but you can add wildcards

</ul>

<h5>Note</h5>
<ul>
  <li/>The "Unmatched" counts don't include orchids that are excluded from further processing.
</ul>
