      <h5>Choice</h5>
        <%= render partial: 'loader/names/tabs/ref_instance/accepted_or_excluded_names/show_current_choice', locals: {match: match} %> 

      <% if match.source_for_copy_instance_id.present? %>
         <%= render partial: 
                'loader/names/tabs/ref_instance/accepted_or_excluded_names/choice_made/source_instance_summary',
                locals: {match: match} %>
      <% end %>
      <% if match.standalone_instance_id.present? %>
     <br><br>
     <%= link_to("Show the standalone instance in context",
                 search_path(query_target: "Name",
                             query_string: "id: #{@loader_name.preferred_match.name_id} show-instances:",
                             focus_id:"Instance-#{@loader_name.preferred_match.standalone_instance_id}"),
                tabindex: increment_tab_index,
                title: "Show the instance",
                class: 'blue') %>

      <% end %>

 <br><br>
<%= divider %>
     <%= render partial: 
                'loader/names/tabs/ref_instance/accepted_or_excluded_names/undo_choice',
                locals: {match: match} %>
      <br> <br>
      <div id="search-result-details-info-message-container" class="message-container"></div>
      <div id="search-result-details-error-message-container" class="error-container"></div>
      <div id="existing-instances-display">
        <%= render partial: 'loader/names/tabs/ref_instance/existing_instances/main', locals: {match: match} %> 
      </div>
