<div id='user_product_role_form', class='xhidden'>
<% user_product_role = User::ProductRole.new %>
<% user_product_role.user_id = @user.id %>
<%= divider %>

<%= form_for(user_product_role, as: 'user_product_role', role: 'form'
    ) do |form| %>
    <% if user_product_role.errors.any? %>
        <div id="error_explanation">
          <h6><%= pluralize(user_product_role.errors.count, "error") %> prohibited this user_product_role being saved:</h6>

          <ul>
            <% user_product_role.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    user:<%= form.text_field(:user_id) %>
    prod:<%= form.text_field(:product_id, {id: "form_product_id"}) %>

    <div class="form-group">
      <label for="role_id">Role<span class="red">*</span></label>
      <% roles_a = Role.all.map { |role| ["#{role.name} - #{role.description}", role.id] } %>
      <%= form.select(:role_id, 
                   options_for_select(roles_a),
                   {include_blank: true, required: true},
                   title: "Pick a role",
                   class: "form-control") %>
    </div>

    <div class="form-group align-right">
      <% if user_product_role.new_record? %>
        <%#= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", 
                                                  title: "Cancel new user product role", 
                                                  tabindex: increment_tab_index,
                                                  data: {element_id: "xxxnew-user-#{params[:random_id]}"} %>
      <% end %>
      <%= form.submit "Save", id: 'user-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>

<% end %>
</div>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>

<% if @take_focus %>
  <script>
    $(document).ready(function () {
      focusOnField('user_name');
    })
  </script>
<% end %>



