
<%= form_with model: Loader::Batch::Reviewer.new, data: { turbo: false }, local: false do |form| %>
  <%= form.hidden_field :batch_review_period_id, value: @review_period.id %>
    User:
    <%= form.collection_select :user_id, UserTable.order(:name), :id, :full_name, {}, {class: 'form-control', title: 'Choose a user'} %>
    <br>
    Organisation:
    <%= form.collection_select :org_id, Org.order(:no_org, :name), :id, :name, {}, {class: 'form-control', title: 'Choose an organisation or indicate the reviewer is unaffiliated'} %>
    <br>
    Role:
    <%= form.collection_select :batch_review_role_id,
    Loader::Batch::Review::Role.order(:name),
    :id, :name, {:selected => Loader::Batch::Review::Role.name_reviewer_role.id},
    {class: 'form-control', title: 'Choose a role'} %>
    <br>
  <%= form.submit id: "save-new-batch-reviewer-btn", class: 'btn-primary', title: "Add a reviewer", tabindex: increment_tab_index %>
<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 
