<h4>Overview</h4>
<p>
<b>Context:</b> the Editor supports taxonomy reviews, which precede publication of a new taxonomy;
<p>
<b>Draft:</b> the Editor allows you to draft a new taxonomy, based on an existing published taxonomy;
<p>
<b>Review:</b> the Editor lets you set up a taxonomy review, with a defined <b>review period</b> during which selected reviewers can <b>review</b>, and optionally...
<p>
<b>Comment</b> on the draft taxonomy, including reading other comments and responding to them;
<p>
<b>Review Periods:</b> can be added to a review to allow another cycle of review and comments, and this will let you...
<p>
<b>Repeat:</b> the draft-review-comment cycle with successive review periods until the review is complete, after which you will normally...
<p>
<b>Publish:</b> the reviewed taxonomy.
<br>
<br>
<p>
<svg viewBox="0 0 185 110" width="18%" height="18%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
<%= render partial: 'taxonomy_version_reviews/workflow_svg' %>
</svg>
</p>
<h4>Terminology</h4>
Within the Editor, successive publications of a taxonomy are referred to as <i><b>versions</b></i> of the taxonomy.  An unpublished taxonomy is a <b><i>draft</i> version</b> of the taxonomy.
<h4>Links on this tab</h4>
<p>
Links here generally lead to Editor queries, usually with detail tabs where you can drill into and edit records, including taxonomy review records.
<p>
You may find it helpful to keep multiple browser tabs open, perhaps to display this guide in one of them while you use the Editor interface on other browser tabs.
</p>
Everything you can add or edit on this page can also be done via the standard Editor interface.

<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Of the xxx drafts, xxx have a review registered in the Editor.  
<br>
xxx of those reviews are completed
<br>
xxx of those reviews are started
<br>
xxx of the running reviews have an open review period
<br>


<h4>See an existing review</h4>
<p>A draft with an existing review will link to the review on its Details tab, so if you're looking at a draft, go to the Details table for a link to the review.
<p>More generally, here is a <%= link_to("list of reviews",
                      search_path(query_string: '*',
                                  query_target: 'taxonomy_version_reviews'),
                      class: "with-underline",
                      title: "Retrieve all unpublished taxonomy version review records") %>
<h4>From a review, go to its draft</h4>
<p>Use the link on the review's Details tab to go back to its draft

<h4>Starting a Review Period</h4>
<h4>Reading Review Comments</h4>
<h4>Ending a Review Period</h4>
<h4>Closing a Review</h4>
<h4>Extending a Review</h4>
<ol>
  <li/>Choose a taxonomy
    <ul>
      <li/><%= link_to("All taxonomies",
                       search_path(query_string: '*',
                                   query_target: 'tree'),
                       class: "with-underline",
                       title: "Retrieve a list of all taxonomies") %>
      <li/><%= link_to("Accepted taxonomy",
                       search_path(query_string: 'accepted:', query_target: 'tree'),
                       class: "with-underline",
                       title: "Retrieve the accepted taxonomy") %>
    </ul>
  <li/>Create a review record for the version
    <ul>
      <li/>Use the "Review" tab for a taxonomy version
    </ul>
  <li/>Retrieve the review record
    <ul>
      <li><%= link_to("Taxonomy version reviews",
                      search_path(query_string: '*',
                                  query_target: 'taxonomy_version_reviews'),
                      class: "with-underline",
                      title: "Retrieve all unpublished taxonomy version review records") %>
      <li/>Taxonomy version "Details" tab lists and links reviews
    </ul>
  <li/>Set up a review period 
    <ul>
      <li/>Use the "Periods of Review" tab for a taxonomy version review
      <li><%= link_to("Taxonomy version review periods",
                      search_path(query_string: 'any:',
                                  query_target: 'taxonomy_version_review_periods'),
                      class: "with-underline",
                      title: "Retrieve all taxonomy version review period records") %>
    </ul>
  <li/>Allocate reviewers to the review period 
  <li/>Read review comments 
  <li/>End a review period
  <li/>End a review
</ol>
<%= render partial: 'taxonomy_version_reviews/main_tab/system_status' %>
<br>
<br>
<br>
<br>
