<h2>Taxonomy Review Admin Hub</h2>
Reviewing taxonomy draft versions.
<h3>Things you can do from here.</h3>
<ol>
  <li/>See the status of reviews
  <li/>Register a review
  <li/>Add a reviewer i.e. set up a user as an available reviewer
  <li/>Add an available reviewer to a review
</ol>

<br>
<hr class="dark">
<h3>Status</h3>

<% if Tree.exactly_one_accepted? %>
<p>
This database has an accepted taxonomy: the APC taxonomy.
</p>
<% else %>
<p>
This database has <%= link_to(pluralize(Tree.accepted.all.size, 'accepted taxonomy'),
          search_path(query_string: "accepted:",
                      query_target: 'tree'),
                      title: 'Retrieve the accepted taxonomy',
                      class: 'with-underline') %>: <%= Tree.accepted.all.collect(&:name).join(',') %>
</p>
<% end %>


<% Tree.accepted.each do | tree | %> 
<h3>
  The <%= tree.name %> taxonomy
</h3>
  <%= link_to('List all drafts: currently ' + pluralize(tree.versions.where(published: false).size, 'draft version'),
                                    search_path(query_string: "for-tree-id: #{tree.id} unpublished:",
                        query_target: 'tree_versions'),
                        title: 'Retrieve draft versions of this taxonomy',
                        class: 'with-underline') %>
</p>
<ul>
<p>
<% tree.versions.where(published: false).sort {|a,b| a.created_at <=> b.created_at}.each_with_index do |tree_version, ndx| %>
    <p>
    <% if ndx > 0 %>
      <br>
    <% end %>
    <li><h4>Draft version <%= tree_version.draft_name %></h4>
    <% if tree_version.reviews.empty? %>
      No reviews &mdash; <%= link_to('create one',
                                      search_path(query_string: "id: #{tree_version.id}",
                                                  query_target: 'tree_versions'),
                                                  title: 'Create a review',
                                                  class: 'with-underline') %>
    <% elsif tree_version.reviews.size > 1 %>
    <%= link_to(pluralize(tree_version.taxonomy_version_reviews.size, 'review'),
                          search_path(query_string: "*",
                                      query_target: 'taxonomy_version_reviews'),
                                      title: 'Retrieve the reviews',
                                      class: 'with-underline') %>
    <% end %>

    <% tree_version.taxonomy_version_reviews.each do |review| %>
      <h5>
      <%= link_to("#{review.name}", search_path(query_string: "id: #{review.id}",
                                        query_target: 'taxonomy_version_reviews'),
                            title: 'Retrieve the reviews',
                            class: 'with-underline') %> 
      </h5>
      <% if review.periods.size == 0 %>
        No review periods
      <% else %>
        <h5>
        Review Periods:
        </h5>
      <% end %>
      <% review.periods.sort {|a,b| a.start_date <=> b.start_date }.each do |period| %>
        <%= link_to("#{period.start_date}&ndash; #{period.end_date}".html_safe, search_path(query_target: 'taxonomy_version_review_period',
                                                  query_string: "id: #{period.id}"),
                                                  title: 'Go to the review period',
                                                  class: 'with-underline') %> 
          <ul>
            <%= pluralize(period.reviewers.size, "Reviewer") %>
            <table class="width-30em table table-striped">
              <tr><th>Username</th><th>Organisation</th><th>Active</th></tr>
              <% period.reviewers.each do |reviewer| %>
                <tr><td>
                    <%= link_to(reviewer.username, search_path(query_string: reviewer.username,
                                                     query_target: 'taxonomy reviewer'),
                                                     title: 'Retrieve the reviewer',
                                                     class: 'with-underline').html_safe %>
                </td>
                <td><%= reviewer.organisation_name %></td>
                <td><%= reviewer.active %></td>
                </tr>
              <% end %>
          </table>
          </ul>

      <% end %>
    <% end %>
  <% end %>
<% end %>

</ul>
<hr class="dark">
<%= render partial: 'taxonomy_reviewers/index' %>
<%= render partial: 'taxonomy_version_reviews/doco_for_review_admin' %>

