<h3>Taxonomy Review</h3>
<p>
This is the hub for work on taxonomy reviews. 
</p>

<h4>Operations and Status</h4>
<p>
<b><%= ShardConfig.name_space %></b> has
  <%= link_to(pluralize(Tree.accepted.all.size, 'accepted taxonomy'),
            search_path(query_string: "accepted:",
                        query_target: 'tree'),
                        title: 'Retrieve the accepted taxonomy',
                        class: 'with-underline') %>
</p>
<p>
<% Tree.accepted.each do | tree | %> 
  The <b><%= tree.name %> taxonomy</b> has 
  <%= link_to(pluralize(tree.versions.where(published: false).size, 'draft version'),
                                    search_path(query_string: "for-tree-id: #{tree.id} unpublished:",
                        query_target: 'tree_versions'),
                        title: 'Retrieve unpublished versions of this taxonomy',
                        class: 'with-underline') %>
</p>
<p>
  <% tree.versions.where(published: false).each do |tree_version| %>
    <b><%= tree_version.draft_name %></b> is a draft version
</p>
    It has
    <%= link_to(pluralize(tree_version.taxonomy_version_reviews.size, 'review'),
                          search_path(query_string: "*",
                                      query_target: 'taxonomy_version_reviews'),
                                      title: 'Retrieve the reviews',
                                      class: 'with-underline') %>

    <p>
    <% if tree_version.taxonomy_version_reviews.size == 0 %>
      <br>
      <div class="width-20em border-simple padding-simple">
      <%= render partial: 'taxonomy_version_reviews/form/form_create_from_tree_version', locals: {tree_version: tree.default_draft_version} %>
      </div>
    <% end %>
    </p>

    <% tree_version.taxonomy_version_reviews.each do |review| %>
      <b><%= review.name %></b>
    <% end %>
  <% end %>
<% end %>

<hr class="dark">
<%= render partial: 'taxonomy_version_reviews/doco_for_review_admin' %>

