<h2>Taxonomy Review Hub</h2>
Reviewing taxonomy draft versions.

<br>
<hr class="dark">
<h3>Status for user <%= @current_user.username %></h3>

<% if @current_user.taxonomy_reviewer? %>
  <p>You are registered as a taxonomy reviewer </p>
  <% if @current_user.tvr_periods.size == 0 %>
    <p>You aren't associated with any reviews</p>
  <% else %>
    <p>You're registered to participate in <%= pluralize(@current_user.tvr_periods.size,'review') %></p>
    <% @current_user.tvr_periods.each do |period| %>
      <hr class="dark">
      <h4>
      Draft taxonomy: <%= period.review.tree_version.draft_name %>
      </h4>
      <h5>
      Review of the draft: <%= period.review.name %>
      </h5>
      <p>
      <% if period.active? %>
        The review period is in progress, it started on <%= period.start_date.strftime("%d-%b-%Y") %>
        <% if period.finite? %>
          and it's due to end on <%= period.end_date.strftime("%d-%b-%Y") %>. 
        <% else %>
          and no end date has been set.
        <% end %>
        <p>
        <%= link_to("View changes", search_path(query_string: "#{period.review.tree_version.id},#{period.review.tree_version.previous_version_id}",query_target: 'changed_tree_elements'),
            title: 'Retrieve the tree',class: 'tree') %> 
        </p>
      <% elsif period.future? %>
        The review period hasn't started yet, it's due to start on <%= period.start_date.strftime("%d-%b-%Y") %>.
      <% elsif period.past? %>
        The review period has finished: it ran from <%= period.start_date.strftime("%d-%b-%Y") %> to <%= period.end_date.strftime("%d-%b-%Y") %>.
      <% else %>
        The review period isn't registered properly, please notify Support
      <% end %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <p>You aren't registered as a taxonomy reviewer </p>
  <p>You are a reviewer for a review due to start....</p>
  <p>You are a reviewer in a current review ....</p>
  <p>You were a reviewer in  ....</p>
<% end %>








<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4>Review Workflow</h4>
<ol>
  <li/>Find reviews on your list
  <li/>Find past reviews
  <li/>Choose an (unpublished) taxonomy <b>version</b> for review
    <ul>
      <li/><%= link_to("Unpublished taxonomy versions",
                       search_path(query_string: 'unpublished:',
                                   query_target: 'tree_versions'),
                       class: "with-underline",
                       title: "Retrieve all unpublished taxonomy versions") %>
    </ul>

</ol>
