<% unless @loader_name.notes.blank? %>
  <h4>Notes</h4>
  <%= @loader_name.notes.html_safe %>
  <%= divider %>
<% end %>
<h4>More Raw Data</h4>
<% unless @loader_name.name_status.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.name_status, label: 'name status'} %>
  <br>
<% end %>
<% unless @loader_name.hybrid.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.hybrid, label: 'hybrid'} %>
  <br>
<% end %>
<% unless @loader_name.family.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.family, label: 'family'} %>
  <br>
<% end %>
<% unless @loader_name.higher_rank_comment.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.hr_comment, label: 'hr comment'} %>
  <br>
<% end %>
<% unless @loader_name.subfamily.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.subfamily, label: 'subfamily'} %>
  <br>
<% end %>
<% unless @loader_name.tribe.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.tribe, label: 'tribe'} %>
  <br>
<% end %>
<% unless @loader_name.subtribe.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.subtribe, label: 'subtribe'} %>
  <br>
<% end %>
<% unless @loader_name.rank.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.rank, label: 'rank'} %>
  <br>
<% end %>
<% unless @loader_name.rank_nsl.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.rank_nsl, label: 'nsl rank'} %>
  <br>
<% end %>
<% unless @loader_name.author_rank.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.author_rank, label: 'author rank'} %>
  <br>
<% end %>
<% unless @loader_name.name_comment.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.name_comment, label: 'name comment'} %>
  <br>
<% end %>
<% unless @loader_name.partly.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.partly, label: 'partly'} %>
  <br>
<% end %>
<% unless @loader_name.isonym.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.isonym, label: 'isonym'} %>
  <br>
<% end %>
<% unless @loader_name.publ_count.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.publ_count, label: 'publ count'} %>
  <br>
<% end %>

<% unless @loader_name.hybrid_flag.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.hybrid_level, label: 'hybrid level'} %>
  <br>
<% end %>
<% unless @loader_name.auct_non.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.auct_non, label: 'auct_non'} %>
  <br>
<% end %>
<% unless @loader_name.doubtful.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.doubtful, label: 'doubtful'} %>
  <br>
<% end %>
<% unless @loader_name.article_author.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.article_author, label: 'article author'} %>
  <br>
<% end %>
<% unless @loader_name.article_title.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.article_title, label: 'article title'} %>
  <br>
<% end %>
<% unless @loader_name.article_title_full.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.article_title_full, label: 'article title full'} %>
  <br>
<% end %>
<% unless @loader_name.in_flag.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.in_flag, label: 'in flag'} %>
  <br>
<% end %>
<% unless @loader_name.second_author.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.second_author, label: 'second_author j'} %>
  <br>
<% end %>
<% unless @loader_name.title.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.title, label: 'title'} %>
  <br>
<% end %>
<% unless @loader_name.title_full.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.title_full, label: 'title full'} %>
  <br>
<% end %>
<% unless @loader_name.edition.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.edition, label: 'edition'} %>
  <br>
<% end %>
<% unless @loader_name.volume.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.volume, label: 'volume'} %>
  <br>
<% end %>
<% unless @loader_name.page.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.page, label: 'page'} %>
  <br>
<% end %>
<% unless @loader_name.year.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.year, label: 'year'} %>
  <br>
<% end %>
<% unless @loader_name.date_.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.date_, label: 'date_'} %>
  <br>
<% end %>
<% unless @loader_name.publ_partly.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.publ_partly, label: 'publ_partly'} %>
  <br>
<% end %>
<% unless @loader_name.publ_note.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.publ_note, label: 'publ_note'} %>
  <br>
<% end %>
<% unless @loader_name.notes.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.notes, label: 'notes'} %>
  <br>
<% end %>
<% unless @loader_name.footnote.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.footnote, label: 'footnote'} %>
  <br>
<% end %>
<% unless @loader_name.distribution.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.distribution, label: 'distribution'} %>
  <br>
<% end %>
<% unless @loader_name.comment.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.comment, label: 'comment'} %>
  <br>
<% end %>
<% unless @loader_name.remark_to_reviewers.blank? %>
  <%= render partial: 'detail_line', locals: {info: @loader_name.remark_to_reviewers, label: 'remark_to_reviewers'} %>
  <br>
<% end %>
<% unless @loader_name.original_text.blank? %>
  <%= divider %>
  <h5>Original Text (HTML)</h5>
  <%= render partial: 'detail_line', locals: {info: @loader_name.original_text.html_safe, label: ''} %>
  <h5>Literally:</h5>
  <%= @loader_name.original_text %>
  <h5>Pure name part:</h5>
  <%= @loader_name.original_text.sub(/<span.*/,'').sub(/.*>/,'') %>
  <br>
<% end %>
