<h4>Name Matches: <%= name_match_count = @loader_name.matches.size %></h4>
<% if @loader_name.matches.empty? %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Matching Names</h4></div>
<% end %>
<% if name_match_count > 0 %>
  <% if name_match_count > 1 %>
    <% if @loader_name.loader_name_matches.empty? %>
       <div class="bggray big-vertical-padding" ><h4 class="white">Too Many Matching Names</h4></div>
    <% end %>
  <% end %>
<% end %>
<% if @loader_name.no_further_processing? %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Further Processing</h4></div>
<% end %>
<% if @loader_name.try('parent').try('no_further_processing?') %>
  <div class="bggray big-vertical-padding" ><h4 class="white">No Further Processing via parent</h4></div>
<% end %>

  <%= link_to("#{sanitize(ShardConfig.name_space)} #{external_link_square_icon}".html_safe,
              "#{Rails.configuration.try('nsl_links')}search/names?product=APNI&name=#{url_encode(@loader_name.simple_name)}",
            title: "#{ShardConfig.name_space} search. Opens in another tab or window.",
            class: "rebeccapurple",
            target: "_editor_to_apni",
            tabindex: increment_tab_index) %>&nbsp;
  <%= link_to("Editor name query #{editor_icon('external-link-square')}".html_safe,
              "search?query_target=names&query_string=#{url_encode(@loader_name.simple_name)} show-instances:",
            title: "#{ShardConfig.name_space} search. Opens in another tab or window.",
            class: "rebeccapurple",
            target: "_editor_to_apni",
            tabindex: increment_tab_index) %>
  <%= link_to("Editor simple name query #{editor_icon('external-link-square')}".html_safe,
              "search?query_target=names&query_string=simple-name: #{url_encode(@loader_name.simple_name)} show-instances:",
            title: "#{ShardConfig.name_space} search. Opens in another tab or window.",
            class: "rebeccapurple",
            target: "_editor_to_apni",
            tabindex: increment_tab_index) %>

<% if name_match_count > 0 %>
  <% if @loader_name.misapplied? %>
    <%= render partial: 'loader/names/tabs/details/matches/misapplied', locals: {match_type: :strict} %>
  <% elsif @loader_name.accepted? %>
    <%= render partial: 'loader/names/tabs/details/matches/accepted', locals: {match_type: :strict} %>
  <% elsif @loader_name.synonym? %>
    <%= render partial: 'loader/names/tabs/details/matches/synonym', locals: {match_type: :strict} %>
  <% elsif @loader_name.excluded? %>
    <%= render partial: 'loader/names/tabs/details/matches/excluded', locals: {match_type: :strict} %>
  <% end %>
<% else %>
  <%= divider %>
  <%= render partial: 'loader/names/tabs/details/possible_matches' %>

<% end %>

<span id="search-result-details-info-message-container" class="message-container"></span>
<span id="search-result-details-error-message-container" class="message-container error-container"></span>
