<div class="focus-details 
  <% tab_tab_index = @tab_index %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3 title="Loader Batch details">
    <i class="fa fa-layer-group"></i>&nbsp;
    Loader Batch
      <%= link_to(@loader_batch.name,
                  search_path(query_target: 'loader_batch', 
                              query_string: "id:#{@loader_batch.id}"),
                  id: 'tab-heading',
                  title: "Query this loader batch record") %>
    </h3>
    <%= render partial: 'loader/batches/tabs/all_tab_headings' %>
    <%= render partial: "loader/batches/tabs/#{@tab}" %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->
