<div id="resource-edit-form-<%= name_resource.id%>" class="resource-edit-form hidden">
  <div class="resource-form-grid">
    <label for="resource-host-<%= name_resource.id%>">Host:</label>
    <%= text_field_tag 'resource_host', name_resource.resource_host.name, id: "resource-host-#{name_resource.id}", class: 'form-control resource-form-control', tabindex: increment_tab_index %>

    <label for="resource-value-<%= name_resource.id%>">Resource Value:</label>
    <%= text_field_tag 'resource_value', name_resource.value, id: "resource-value-#{name_resource.id}", class: 'form-control resource-form-control', tabindex: increment_tab_index %>

    <label for="resource-note-<%= name_resource.id%>">Note:</label>
    <%= text_field_tag 'resource_note', name_resource.note, id: "resource-note-#{name_resource.id}", class: 'form-control resource-form-control', tabindex: increment_tab_index %>

    <label for="resource-url-<%= name_resource.id%>">URL:</label>
    <%= text_field_tag 'resource_url', name_resource.resource_host.resolving_url, id: "resource-url-#{name_resource.id}", class: 'form-control resource-form-control', tabindex: increment_tab_index %>
  </div>

  <div class="resource-form-actions">
    <%= link_to "Save",
                '#',
                class: "btn btn-primary btn-sm save-resource-btn resource-btn-md",
                title: "Save changes to this resource",
                tabindex: increment_tab_index,
                data: {target_id: "resource-edit-form-#{name_resource.id}", display_id: "resource-display-#{name_resource.id}"} %>

    <%= link_to "Cancel",
                '#',
                class: "btn btn-default btn-sm cancel-resource-edit-btn resource-btn-md",
                title: "Cancel editing",
                tabindex: increment_tab_index,
                data: {target_id: "resource-edit-form-#{name_resource.id}", display_id: "resource-display-#{name_resource.id}"} %>
  </div>
</div>
