<% profile_text = Profile::ProfileText.new %>
<% profile_item = Profile::ProfileItem.new(product_item_config: @product_item_config, instance_id: @instance_id)%>

<% if Rails.configuration.try('profile_v2_dropdown_ui') %>
  <%= turbo_stream.replace "product-item-config-dropdown-container" do %>
    <% product_configs_and_profile_items, product = Profile::ProfileItem::DefinedQuery::ProductAndProductItemConfigs.new(@current_user, profile_item.instance).run_query %>
    <%= render partial: "profile_items/product_item_config_dropdown",
      locals: {
        product_configs_and_profile_items: product_configs_and_profile_items,
        selected_product_item_config_id: nil,
        instance: profile_item.instance
      }
    %>
    <script>
      allContainers = document.querySelectorAll('div.product-item-config-container');
      allContainers.forEach(function(container) {
        container.classList.add("hidden");
      });
    </script>
  <% end %>
<% end %>

<%= turbo_stream.replace "message_#{@product_item_config.id}" do %>
  <div id="common-error-message-container" class="error-container"></div>
  <div id="message_<%= @product_item_config.id %>" class="message-container">
    <%= @message %>
  </div>
<% end %>

<%= turbo_stream.replace "profile_text_form_#{@product_item_config.id}" do %>
  <div id="profile_text_form_<%= @product_item_config.id %>" style="overflow: hidden; margin-bottom: 10px;overflow:hidden;">
    <%= render partial: "profile_texts/form",
      locals: {
        profile_text: profile_text,
        url: profile_texts_path,
        method: :post,
        product_item_config: @product_item_config,
        instance_id: profile_item.instance_id,
        profile_item: profile_item
      }
    %>
  </div>

  <script>
    renderEditor(document.getElementById("editor_<%= @product_item_config.id %><%= profile_item.id%>"));
  </script>
<% end %>

<%= turbo_stream.replace "profile_item_references_#{@product_item_config.id}" do %>
  <div id="profile_item_references_<%= @product_item_config.id %>">
  </div>
<% end %>

<%= turbo_stream.replace "add_reference_#{@product_item_config.id}" do %>
  <div id="add_reference_<%= @product_item_config.id %>">
  </div>
<% end %>

<%= turbo_stream.replace "add_annotation_form#{@product_item_config.id}" do %>
  <div id="add_annotation_form<%= @product_item_config.id %>"></div>
<% end %>

<%= turbo_stream.replace "profile_item_actions_#{@product_item_config.id}" do %>
  <div id="profile_item_actions_<%= @product_item_config.id %>"></div>
<% end %>

<%= turbo_stream.replace "linked-profile-item-container" do %>
  <div id="linked-profile-item-container"></div>
<% end %>

<%= turbo_stream.replace "search-result-#{@profile_item_id}" do %>
<% end %>

<%= turbo_stream.replace "show-profile-items-container" do %>
<% end %>
