<%
  product_item_config = @profile_item.product_item_config
%>

<%= turbo_stream.update "link-profile-item-details-#{product_item_config.id}" do %>
  <h4>
    <%= product_item_config.display_html %>
  </h4>
  <div class="from-markdown", style="padding: 10px;margin: 5px 0 20px 0px;background-color: white;border: 1px solid #afafaf;">
    <%= markdown_to_html(@profile_item.profile_text.value_md.to_s) %>
  </div>

  <% if @profile_item.profile_item_references.present? %>
    <p>
      <strong>References</strong>
      <% @profile_item.profile_item_references.each do |pir| %>
        <%= link_to("#{pir.reference.citation}#{display_pages(pir.reference.pages)}" || '[No citation found.]',
          search_path(query_string: %Q(id:#{pir.reference.id}), query_target: 'reference'),
          id: 'tab-heading',
          title: "Query this reference.",
          tabindex: increment_tab_index )
        %>
        <span class="pull-right"><%= mapper_link('reference', pir.reference.id)%></span>
        <p><%= pir.annotation %></p>
      <% end %>
    </p>
  <% end %>

  <% if @profile_item.profile_item_annotation.present? %>
    <p>
      <br>
      <strong>Annotations</strong>
      <br>
      <%= @profile_item.profile_item_annotation.value %>
    </p>
  <% end %>
  <%= form_for Profile::ProfileItem.new, method: :post, data: {turbo: true}, remote: true, url: profile_items_links_path() do |f| %>
    <%= hidden_field_tag "instance_id", @selected_instance.id %>
    <%= hidden_field_tag "id", @profile_item.id %>
    <%= hidden_field_tag "profile_item[product_item_config_id]", product_item_config.id %>
    <%= submit_tag "Link profile item", style: 'background-color: #5a5a5a; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 4px; float: right;' %>
  <% end %>

  <div id="error-link_for-profile-item" class="error-container"></div>
<% end %>



