
<%= form_for(@taxonomy_version_review_period, remote: true) do |f| %>
    Start date
    <br>
    <%= f.date_select :start_date,
                      {order: [:day, :month, :year]},
                      {title: 'Start date for the period of review',
                       tabindex: increment_tab_index}  %>
    <br>
    <br>
    <%= f.hidden_field :taxonomy_version_review_id %>
    <%= f.submit id: "save-new-instance-btn", class: 'btn-primary', title: "Save changes", tabindex: increment_tab_index %>
<% end %>

<%= divider %>
<br>
<h5>Notes</h5>
<ul class="no-indent">
  <li/>You can change the start date after creating the review period
  <li/>You can also add an end date later
  <li/>Creating a period of review does not start the review. 
</ul>
<h5>Rules</h5>
<ul class="no-indent">
  <li/>Start date cannot be in the past.
  <li/>End date must be after the start date.
</ul>

<%= divider %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 

