<% increment_tab_index(0) %>

<%= @tree.name %> <span class="pull-right">Name</span> <br>
<%= @tree.accepted_tree %> <span class="pull-right">Accepted Tree</span> <br>
<%= @tree.current_tree_version_id %> <span class="pull-right">Current Tree Version</span> <br>
<%= @tree.group_name %> <span class="pull-right">Group Name</span> <br>
<%= @tree.host_name %> <span class="pull-right">Host Name</span> <br>
<%= @tree.link_to_home_page %> <span class="pull-right">Link to Home Page</span> <br>
<%= @tree.reference_id %> <span class="pull-right">Reference ID</span> <br>

<br>
<%= link_to("Versions of this taxonomy&nbsp;#{search_icon_on_tab}".html_safe,
            search_path(query_string: "for-tree-id:#{@tree.id}",
                        query_target: 'tree_version'),
                        title: 'Retrieve the versions of this taxonomy',
                        class: 'tree-version')
%> 
<br>
<%= link_to("Versions of this taxonomy with one or more reviews&nbsp;#{search_icon_on_tab}".html_safe,
            search_path(query_string: "for-tree-id:#{@tree.id} has-review:",
                        query_target: 'tree_version'),
                        title: 'Retrieve the versions of this taxonomy',
                        class: 'tree-version')
%> 

<br>
<%= link_to("Published Versions of this taxonomy&nbsp;#{search_icon_on_tab}".html_safe,
            search_path(query_string: "for-tree-id:#{@tree.id} published:",
                        query_target: 'tree version'),
                        title: 'Retrieve published versions of this taxonomy',
                        class: 'tree-version')
%> 

<br>
<%= link_to("Unpublished Versions of this taxonomy&nbsp;#{search_icon_on_tab}".html_safe,
            search_path(query_string: "for-tree-id:#{@tree.id} unpublished:",
                        query_target: 'tree version'),
                        title: 'Retrieve unpublished versions of this taxonomy',
                        class: 'tree-version')
%> 

<%= divider %>

Config
<%= @tree.config %>
<%= divider %>
Description
<%= @tree.description_html.html_safe %>

<%= divider %>
