<% increment_tab_index(0) %>


<% if @diff_list['operation'] == 'changed' %>
  <h4>Taxon changed</h4>
<h5>Current</h5>
<%= @current_tve.inspect %>
<h5>Previous</h5>
<%= @previous_tve.inspect %>
<% elsif @diff_list['operation'] == 'added' %>
  <h4>Taxon added</h4>
<h5>Current</h5>
<%= @current_tve.inspect %>
<% elsif @diff_list['operation'] == 'deleted' %>
  <h4>Deleted taxon</h4>
<h5>Previous</h5>
<%= @previous_tve.inspect %>
<% else %>
  <h5>Unknown</h5>
<% end %>

<%= divider %>

<%= @diff_list["operation"] %> <span class="pull-right">operation</span> <br>
<%= @diff_list["id"] %> <span class="pull-right">id</span> <br>
<%= @diff_list["simple_name"] %> <span class="pull-right">simple name</span> <br>
<%= @diff_list["current_tve"] %> <span class="pull-right">current_tve</span> <br>
<%= @diff_list["previous_tve"] %> <span class="pull-right">previous_tve</span> <br>

<%= divider %>

<br>
<% case params["tree-element-operation"] %>
<% when blank? %>
  No operation.
<% when 'removed' %>
    <span class="pull-right">Synonymy</span> <br>
    <div class="tree-container wrap">
      <%= @diff_list.synonyms_html.html_safe %>
    </div>
    <% unless @diff_list.profile.blank? %>
      <br>
      <% @diff_list.profile.each do | key, value | %> 
        <%= value["value"] %> <span class="pull-right"><%= key %></span> <br>
      <% end %>
    <% end %>
<% when 'added' %>
<% else %>
  <div id="diff_element" class="tree-container wrap">
    <%# search_result_reconstructed = OpenStruct.new({ operation: params["tree-element-operation"],
                                                      id: @diff_list.id,
                                                      tv_id: params["tree-version-id"],
                                                      current_tve: params["tree-element-current-tve"],
                                                      previous_tve: params["tree-element-previous-tve"]
    }) %>
    <%#= TreeElement.before_html(search_result_reconstructed).html_safe %>
    <%= divider %>
  </div>
<% end %>
<%#= meaningful_update(@diff_list).html_safe %>
<%= divider %>
