<% increment_tab_index(0) %>


<% if @diff_list['operation'] == 'changed' %>

  <h5>Current</h5>
  <%= render partial: 'diff_lists/partials/tve', locals: {tve: @current_tve} %>

  <h5>Previous</h5>
  <%= render partial: 'diff_lists/partials/tve', locals: {tve: @previous_tve} %>

  <h5>Before</h5>
  <div class="synonyms nothidden">
    <div class="tree-container wrap">
      <%#= TreeVersionElements::DiffHtml.new('/tree/51402267/51402361', '/tree/51402090/51211467').try('before_html').try('html_safe') %>
      <%= TreeVersionElements::DiffHtml.new(@previous_tve.element_link, @current_tve.element_link).try('before_html').try('html_safe') %>
    </div>
  </div>
<% elsif @diff_list['operation'] == 'added' %>

  <h5>Current</h5>
  <%= render partial: 'diff_lists/partials/tve', locals: {tve: @current_tve} %>

<% elsif @diff_list['operation'] == 'deleted' %>

  <h5>Previous</h5>
  <%= render partial: 'diff_lists/partials/tve', locals: {tve: @previous_tve} %>

<% end %>

<%= divider %>

<%= @diff_list["operation"] %> <span class="pull-right">operation</span> <br>
<%= @diff_list["id"] %> <span class="pull-right">id</span> <br>
<%= @diff_list["simple_name"] %> <span class="pull-right">simple name</span> <br>
<%= @diff_list["current_tve"] %> <span class="pull-right">current_tve</span> <br>
<%= @diff_list["previous_tve"] %> <span class="pull-right">previous_tve</span> <br>

<%= divider %>

<br>
<% case params["tree-element-operation"] %>
<% when blank? %>
  No operation.
<% when 'removed' %>
    <span class="pull-right">Synonymy</span> <br>
    <div class="tree-container wrap">
      <%= @diff_list.synonyms_html.html_safe %>
    </div>
    <% unless @diff_list.profile.blank? %>
      <br>
      <% @diff_list.profile.each do | key, value | %> 
        <%= value["value"] %> <span class="pull-right"><%= key %></span> <br>
      <% end %>
    <% end %>
<% when 'added' %>
<% else %>
  <div id="diff_element" class="tree-container wrap">
    <%# search_result_reconstructed = OpenStruct.new({ operation: params["tree-element-operation"],
                                                      id: @diff_list.id,
                                                      tv_id: params["tree-version-id"],
                                                      current_tve: params["tree-element-current-tve"],
                                                      previous_tve: params["tree-element-previous-tve"]
    }) %>
    <%#= TreeElement.before_html(search_result_reconstructed).html_safe %>
    <%= divider %>
  </div>
<% end %>
<%#= meaningful_update(@diff_list).html_safe %>
<%= divider %>
