<div id="name-resource-<%= name_resource.id %>" class="resource-list-item">
  <!-- Resource display view -->
  <div id="resource-display-<%= name_resource.id %>" class="resource-display">
    <div class="resource-info">
      <span><strong>Resource: </strong><%= name_resource.resource_host.name %></span>
      <span><strong>URL: </strong><%= name_resource.resource_host.resolving_url %></span>
      <span><strong>Value: </strong><%= name_resource.value %></span>
      <span><strong>Note: </strong><%= name_resource.note %></span>
      <span>
        <a href="<%= name_resource.resource_host.resolving_url %><%= name_resource.value%>" target="_blank" rel="noopener noreferrer" title="Open resource URL">
          <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="resource-url-icon">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
          </svg>
        </a>
      </span>
    </div>

    <!-- Edit and Delete buttons -->
    <div class="resource-actions">
      <%= link_to "Edit",
        '#',
        id: "resource-edit-link-#{name_resource.id}",
        class: "btn btn-default btn-sm show-resource-edit-form resource-btn-sm",
        title: "Edit this resource",
        tabindex: increment_tab_index,
        data: {
          target_id: "resource-edit-form-#{name_resource.id}",
          display_id: "resource-display-#{name_resource.id}"
        }
      %>

      <%= link_to "Delete",
        '#',
        id: "resource-delete-link-#{name_resource.id}",
        class: "btn btn-warning btn-sm unconfirmed-delete-link resource-btn-sm",
        title: "Delete this resource",
        tabindex: increment_tab_index,
        data: {
          show_this_id: "confirm-or-cancel-link-container-#{name_resource.id}"
        }
      %>
    </div>
  </div>

  <!-- Resource edit form (hidden by default) -->
  <%= render partial: "names/name_resources/edit_resource_form", locals: { name: name, name_resource: name_resource } %>

  <!-- Confirm/Cancel delete container -->
  <div id="confirm-or-cancel-link-container-<%= name_resource.id %>" class="confirm-or-cancel-delete-link hidden">
    <%= link_to "Confirm delete",
      name_name_resource_path(name, name_resource),
      id: "resource-confirm-delete-link-#{name_resource.id}",
      class: "btn btn-danger btn-sm resource-btn-lg",
      title: "Really delete this resource",
      tabindex: increment_tab_index,
      data: {
        turbo_method: :delete,
        turbo_stream: true
      }
    %>

    <%= link_to "Cancel",
      '#',
      id: "cancel-delete-link-#{name_resource.id}",
      class: "btn btn-default btn-sm cancel-link resource-btn-lg",
      title: "Cancel delete",
      tabindex: increment_tab_index,
      data: {
        enable_this_id: "resource-delete-link-#{name_resource.id}",
        hide_this_id: "confirm-or-cancel-link-container-#{name_resource.id}"
      }
    %>
  </div>
</div>
