<% increment_tab_index(0) %>

<%= @tree_version_element.element_link %> <span class="pull-right">element_link</span> <br>
<%= divider %>
<%= @tree_version_element.depth %> <span class="pull-right">depth</span> <br>
<%= @tree_version_element.name_path %> <span class="pull-right">name_path</span> <br>
<%= @tree_version_element.parent_id %> <span class="pull-right">parent_id</span> <br>
<%= @tree_version_element.taxon_id %> <span class="pull-right">taxon_id</span> <br>
<%= @tree_version_element.taxon_link %> <span class="pull-right">taxon_link</span> <br>
<%= @tree_version_element.tree_element_id %> <span class="pull-right">tree_element_id</span> <br>
<%= @tree_version_element.tree_path %> <span class="pull-right">tree_path</span> <br>
<%= @tree_version_element.tree_version_id %> <span class="pull-right">tree_version_id</span> <br>
<%= @tree_version_element.merge_conflict %> <span class="pull-right">merge_conflict</span> <br>

<%= divider %>
<%= meaningful_update(@tree_version_element).html_safe %>
