<div id="change-password-form-container">

  <h2>Change Password</h2>

  <div id="change-password-info">
        <% if Rails.configuration.try('ldap_via_active_directory') %>
          Passwords must be 8-50 characters with <br>at least one from each category:
                <ul class="no-indent">
                  <li/>upper-case letters, 
                  <li/>lower-case letters, 
                  <li/>digits or symbols
                </ul>
        <% else %>
          <p>Must be at least 8 characters long.</p>
        <% end %>
  </div>
    <%= form_for(@password, url: edit_password_path, role: 'form') do | form | %>
      <% unless @password.error.blank? %>
        <div id="error-explanation">
          <%= @password.error %> <br> There may be other problems &mdash; see the notes above,  and try again.
          </div>
      <% end %>
  <div id="change-password-form">
      <h4><%= @current_user.full_name %></h4>
      <div class="form-group">
        <%= form.label :current_password, 'Current Password*' %>
        <%= form.password_field :current_password, required: true, title: "Enter your current password", class: 'form-control', autofocus: true %>
      </div>
      <div class="form-group">
        <%= form.label :new_password, 'New Password*' %>
        <%= form.password_field :new_password, required: true, title: "Enter your new password", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :new_password_confirmation, 'Re-type New Password*' %>
        <%= form.password_field :new_password_confirmation, required: true, title: "Confirm your new password", class: 'form-control' %>
      </div>

      <%= form.submit 'Change', title: 'Select to Change Password', class: 'btn btn-primary' %>
      <button class='btn btn-primary' onclick="$('#change-password-form-container').hide(); return false;">Cancel</button>
 
    <% end %>

  </div>
  <script type="text/javascript">$("#password_current_password").focus();</script>

</div>

