
<%= render partial: 'application/search_results/print/records/loader/record_types/prev_rec_dist_comments' %>

<tr class="search-result accepted top-spacer"><td>&nbsp;</td></tr>

<tr id="search-result-<%= search_result.id %>" 
    class="search-result <%= search_result.record_type %> ">
  <td class="text name main-content" colspan="2" >


    <span class='loader-name <%= search_result.record_type %> full-name'>
      <% if search_result.rank == 'genus'  %>
        <%= "#{search_result.full_name.upcase}" %><%= ',' unless search_result.name_status.blank? %>
      <% else %>
        <%= "#{search_result.full_name}" %><%= ',' unless search_result.name_status.blank? %>
      <% end %>

      <% unless search_result.name_status.blank? %>
        <%= "#{search_result.name_status}" %>
      <% end %>
    </span>


    <% unless search_result.remark_to_reviewers.blank? %>
        <span class="review loader-name remark-to-reviewers">
           <%= search_result.remark_to_reviewers.html_safe %>
        </span>
    <% end %>

    <% unless search_result.higher_rank_comment.blank? %>
        <span class="review loader-name remark-to-reviewers">
          <%= search_result.higher_rank_comment.html_safe %>
        </span>
    <% end %>

  </td>
</tr>

<% @previous_distribution = search_result.distribution %>
<% @previous_comment = search_result.comment %>


