
<%= render partial: 'application/search_results/print/records/loader/record_types/prev_rec_dist_comments' %>

<tr class="search-result excluded top-spacer"><td>&nbsp;</td></tr>

<%# Show this heading once per family at most and only on the first occurrence %>
<%# Presumes excludeds etc are grouped at the end of a family %>
<% if !(defined? @family_excluded_header_shown) || (@family_excluded_header_shown != search_result.family) %>
  <tr class="search-result excluded-header">
    <td>UNPLACED, DOUBTFUL AND EXCLUDED NAMES</td>
  </tr>
  <% @family_excluded_header_shown = search_result.family %>
<% end %>


<tr id="search-result-<%= search_result.id %>" 
    class="search-result <%= search_result.record_type %> ">
  <td class="text name main-content" >


    <span class='loader-name <%= search_result.record_type %> full-name'>
        <%= "#{search_result.full_name}" %><%= ',' unless search_result.name_status.blank? %>

        <% unless search_result.name_status.blank? %>
          <%= "#{search_result.name_status}" %>
        <% end %>
    </span>

    <% unless search_result.remark_to_reviewers.blank? %>
        <span class="review loader-name remark-to-reviewers">
           <%= search_result.remark_to_reviewers.html_safe %>
        </span>
    <% end %>

    <% unless search_result.higher_rank_comment.blank? %>
        <span class="review loader-name remark-to-reviewers">
          <%= search_result.higher_rank_comment.html_safe %>
        </span>
    <% end %>

  </td>
</tr>


<% @previous_comment = search_result.comment unless search_result.comment.blank? %>


