
<span class='diff_list'>
  Diff List Taxon <%= "#{search_result["simple_name"]}" %>
        <span class="search-result-operation operation-type-<%= search_result["operation"] %>"><%= search_result["operation"] %></span>
        <%= "#{search_result["operation"]}" %>
        <%= "#{search_result["current_tve"]}" %>
        <%= "#{search_result["previous_tve"]}" %>
        <%#= "#{search_result.inspect}" %>
</span>
