<div class="focus-details 
            <%= 'freshly-created' if Time.now.strftime("%Y%m%d") == @batch_reviewer.created_at.strftime("%Y%m%d") &&  (@batch_reviewer.created_at - @batch_reviewer.updated_at).abs < 10 %>">
  <% tab_tab_index = @tab_index %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3>
  <i class="sienna fa fa-user"></i>
      &nbsp;

      <%= link_to(@batch_reviewer.full_name, 
                  search_path(query_target: 'batch_reviewers', 
                              query_string: "id:#{@batch_reviewer.id}"),
                  id: 'tab-heading',
                  title: "Query this batch reviewers record") %>
                batch reviewer
    </h3>
    <%= render partial: 'loader/batch/reviewers/tabs/all_tab_headings' %>
    <%= render partial: "loader/batch/reviewers/tabs/#{@tab}" %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->
