
<b><%= match.current_taxonomy_instance_choice %>:</b>
<%= match.current_taxonomy_instance_choice_details %>
<span class="<%= match.current_taxonomy_instance_choice.downcase.gsub(' ','-') %>">&nbsp; &nbsp;</span>
<br>
<br>
<% if match.show_default_reference? || match.copy_and_append? %>
  <%= render partial: 'detail_line',
             locals: {info: match.loader_name.loader_batch.default_reference&.citation&.html_safe || 'There is no default reference for this batch', label: 'default reference'} %>
<% end %>
<% if match.standalone_instance?  %>
  <% inst = match.standalone_instance %>
  <%= render partial: 'detail_line',
    locals: {info: "#{inst.reference.citation}:&nbsp;#{inst.page}",
             label: 'standalone instance'} %>
  <%= render partial: 'detail_line',
    locals: {info: inst.instance_type.name,
             label: 'standalone instance type'} %>
<% end %>

<% if match.copy_and_append? %>
  <% inst = match.source_for_copy %>
  <%= render partial: 'detail_line',
    locals: {info: "#{inst.reference.citation}:&nbsp;#{inst.page}",
             label: 'selected source instance'} %>
  <%= render partial: 'detail_line',
    locals: {info: inst.instance_type.name,
             label: 'selected source instance type'} %>
<% end %>

