<tr id="search-result-<%= search_result.id %>" 
  class="search-result batch-stack show-details <%= 'fresh' if search_result.fresh? %>"  
  data-get-url=""
  data-edit-url="<%= review_period_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-base-url=""
  data-tab-url="<%= review_period_tab_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-record-id="<%= search_result.id %>"
  data-record-type="review-period"
  tabindex="<%= increment_tab_index(100) %>"
    >
    <td class="nsl-tiny-icon-container takes-focus width-1-percent"></td>
  <td class="text takes-focus name main-content min-width-40-percent max-width-60-percent width-50-percent <%= 'give-me-focus' if give_me_focus %>">
    <span class="review-period">
    <a
      class="show-details-link"
      tabindex="<%= increment_tab_index %>" 
      title="Review period record. Select to show details."
      id="<%= %Q(review-period-#{search_result.id}) %>">
      <%= render partial: 'application/search_results/stack/link_texts/review_period', locals: {search_result: search_result} %>
    </a>
    </span>
  </td>
  <td class="takes-focus width-5-percent filler">&nbsp;</td>
</tr>

