<% increment_tab_index(0) %>

<h5><%= pluralize(@loader_name.loader_name_matches.size,'Match') %> Chosen </h5>
<ol>
<% @loader_name.loader_name_matches.order('id').each do |loader_name_match| %>
  <li>Loader name match: #<%= loader_name_match.id %>
  <li>Name #<%= loader_name_match.name_id %>
    <ul>
      <li><%= loader_name_match.name.full_name %></li>
      <li><%= loader_name_match.instance.reference.citation %></li>
      <% unless loader_name_match.instance.page.blank? %>
        <li><%= loader_name_match.instance.page %></li>
      <% end %>
          <% if @loader_name.accepted? %>
            (No instance type to edit for accepted names.)
          <% else %>
            <li><%= loader_name_match.instance.instance_type.name %></li>
            <li><%= loader_name_match.instance_type.try('name') %></li>

          <%= form_for(loader_name_match, as: 'loader_name_match', role: 'form', remote: true) do |f| %>

            <%= f.select(:relationship_instance_type_id,
               InstanceType.synonym_options, {include_blank: true},
               {value: loader_name_match.relationship_instance_type_id, data: {update_url: instance_path},
                class: 'form-control width-50-percent', title: 'Enter instance type',
                required: true, tabindex: increment_tab_index}) %>

            <%= f.submit "Change", id: "change-instance-type-#{loader_name_match.id}",
              tabindex: increment_tab_index,
              title: 'Change instance type',
              class: 'bgdarkslateblue btn btn-primary width-6em' %>

          <% end %>
<% end %>

    </ul>
<% end %>
</ol>

<%= render partial: 'loader/names/tabs/matched_name/drafted' %>
<span id="search-result-details-info-message-container" class="message-container"></span>
<span id="search-result-details-error-message-container" class="error-container"></span>
<br>
<% unless @loader_name.original_text.blank? %>
  <%= divider %>
  <h5>Original Text</h5>
  <%= render partial: 'detail_line', locals: {info: @loader_name.original_text, label: ''} %>
  <br>
<% end %>
