
<%= render partial: 'loader/names/tabs/details/core_data' %>
<br>
<%= divider %>
<%= render partial: 'loader/names/tabs/details/link_to_context_view' %>
<%= divider %>
<%= render partial: 'loader/names/tabs/details/name_matches' %>
<%= divider %>
<%= render partial: 'loader/names/tabs/details/core_data_2' %>
<br>
<br>

<%= divider %>

<h5>Metadata</h5>
<%= created_by_whom_and_when(@loader_name).html_safe %>
<br>
<%= updated_by_whom_and_when(@loader_name).html_safe %>
<br>
compiler view
<%= divider %>
