<% increment_tab_index(0) %>

<%= render partial: 'loader/names/tabs/matched_name/preferred' %>

<%= render partial: 'loader/names/tabs/matched_name/drafted' %>

<% if (@loader_name.accepted? || @loader_name.excluded?) && @loader_name.loader_name_matches.size == 1 %>
  <%= render partial: 'loader/names/tabs/matched_name/intended_parent' %>
<% else %>
  <%= divider %>
  <h4>Intended Taxonomy Parent</h4>
  Not relevant to this record.
<% end %>

<%= render partial: 'loader/names/tabs/matched_name/force_remove' %>

<span id="search-result-details-info-message-container" class="message-container"></span>
<span id="search-result-details-error-message-container" class="error-container"></span>
<br>
<% unless @loader_name.original_text.blank? %>
  <%= divider %>
  <h4>Original Text</h4>
  <%= render partial: 'detail_line', locals: {info: @loader_name.original_text, label: ''} %>
  <br>
<% end %>
