<% increment_tab_index(0) %>

<% if @loader_name.batch.reviews.empty? %>
  No review in place for this batch.
<% else %>
    <%= link_to(@loader_name.batch.reviews&.first&.name,
                         search_path(query_target: 'loader batches', 
                                     query_string: "id: #{@loader_name.batch.id}"),
                         class: 'blue',
                         title: "Show this batch") %>,&nbsp; 
                         <br>
  <%= link_to(@loader_name.batch.reviews&.first&.periods&.first&.name,
                         search_path(query_target: 'batch review periods', 
                                     query_string: "id: #{@loader_name.batch.reviews.first&.periods&.first&.id}"),
                         class: 'blue',
                         title: "Show this batch") %>,&nbsp; 
                         <br>
  <% if @loader_name.batch.reviews&.first&.periods&.first&.reviewers&.collect {|x| x.user.userid}&.include?(@current_user.username) %>
    <%= form_with model: @name_review_comment, url: 'name_review_comments', method: :post do |form| %>
      <%= form.hidden_field :batch_reviewer_id %>
      <%= form.hidden_field :loader_name_id %>
      <%= form.hidden_field :review_period_id %>
      Comment: <%= form.text_area :comment, class: 'form-control give-me-focus', title: "Enter comment", tabindex: increment_tab_index %>
      <%= form.submit id: "save-new-batch-review-comment-btn", class: 'btn-primary', title: "Save comment", tabindex: increment_tab_index %>
      <%= divider %>
      <p>
      <b>
      Note:
      </b>
      Comments are not mandatory - absence of a comment indicates acceptance.
      
  <% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<% else %>
  You are not authorised to add review a comment.
<% end %><br>
<% end %>
