
<%= render partial: 'loader/names/tabs/details/core_data' %>
<%= divider %>
<%= render partial: 'loader/names/tabs/details/name_matches' %>
<%= divider %>
<%= render partial: 'loader/names/tabs/details/core_data_2' %>
<%= divider %>

<h5>Metadata</h5>
<%= render partial: 'detail_line', locals: {info: @loader_name.id, label: 'ID'} %>
<%= render partial: 'detail_line', locals: {info: @loader_name.raw_id, label: 'raw ID (from the CSV data)'} %>
<%= render partial: 'detail_line', locals: {info: @loader_name.seq, label: 'seq (for sorted display)'} %>
<%= render partial: 'detail_line', locals: {info: @loader_name.record_type, label: 'record type'} %>
<%= render partial: 'detail_line', locals: {info: @loader_name.parent_id, label: 'parent_id'} unless @loader_name.parent_id.blank? %>
<%= render partial: 'detail_line',
      locals: {label: 'batch',
               info: link_to(@loader_name.batch.name,
                        search_path(
                          query_target: 'loader batch',
                          query_string: "id: #{@loader_name.batch.id}"),
               title:"Query the loader batch",class:'blue')} %>

<%= created_by_whom_and_when(@loader_name).html_safe %>
<br>
<%= updated_by_whom_and_when(@loader_name).html_safe %>
