<h3>Taxonomy Review Admin</h3>
<h4>Workflow Suggestion</h4>
Open the Editor in at least 2 tabs of your browser
<ul>
  <li>keep this administration tab open in one of the browser tabs,
  <li>use the other browser tab for the work
</ul>
<h4>Workflow</h4>
<ol>
  <li/>Choose a taxonomy
    <ul>
      <li><%= link_to("Taxonomies",
                                     search_path(query_string: '*',
                                                 query_target: 'tree'),
                                     class: "with-underline",
                                     title: "Retrieve all taxonomies") %>
    </ul>

  <li/>Choose an (unpublished) taxonomy version for review
    <ul>
      <li>Shortcut query to <%= link_to("Unpublished taxonomy versions",
                                     search_path(query_string: 'unpublished:',
                                                 query_target: 'tree_versions'),
                                     class: "with-underline",
                                     title: "Retrieve all unpublished taxonomy versions") %>
    </ul>
  <li/>Create a review record for the version
    <ul>
      <li/>Use the "Review" tab for a taxonomy version
    </ul>
  <li/>Retrieve the review record
    <ul>
      <li>Shortcut query to <%= link_to("Taxonomy reviews",
                      search_path(query_string: '*',
                                  query_target: 'taxonomy_reviews'),
                      class: "with-underline",
                      title: "Retrieve all unpublished taxonomy review records") %>
      <li/>Taxonomy version "Details" tab lists and links reviews
    </ul>
  <li/>Set up a review period 
    <ul>
      <li/>Use the "Periods of Review" tab for a taxonomy review
      <li>Shortcut query to <%= link_to("Taxonomy review periods",
                      search_path(query_string: 'any:',
                                  query_target: 'taxonomy_review_periods'),
                      class: "with-underline",
                      title: "Retrieve all taxonomy review period records") %>
    </ul>
  <li/>Allocate reviewers to the review period 
  <li/>Read review comments 
  <li/>End a review period
  <li/>End a review
</ol>
<h4>Links</h4>
<ul>
  <li/> <%= link_to("Retrieve the accepted taxonomy",
            search_path(query_string: 'accepted:', query_target: 'tree'),
            title: "A link to a search that retrieves the accepted taxonomy") %>

  <li/> <%= link_to("Retrieve all taxonomies",
            search_path(query_string: '*', query_target: 'tree'),
            title: "A link to a search that retrieves all taxonomies") %>

  <li/> Reviews in progress
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
