<% increment_tab_index(0) %>
<h5>
<%= pluralize(@taxonomy_version_review_period.reviewers.size, "Reviewer") %>
</h5>
<% @taxonomy_version_review_period.sorted_reviewers.each do |r| %>
  <%= r.username %>
  <span class="pull-right">
    <%= link_to('remove', r.reviewer_in_period(@taxonomy_version_review_period),
                { remote: true, method: :delete, class: 'with-underline', title: 'remove this reviewer from the review period'}) %>
  </span>
  <br>
<% end %>

<%= divider %>
<h5>
  Add a Reviewer
</h5>
<%= form_with url: tvr_periods_reviewers_path, scope: :tvr_periods_reviewers do |f| %>
  <%= f.hidden_field :tvr_period_id, value: @taxonomy_version_review_period.id %>

  <%= render partial: 'detail_line',
             locals: {
    info: f.select(:taxonomy_reviewer_id, @taxonomy_version_review_period.available_reviewers.collect {|r| [r.username, r.id]},{},
                           {value: '',
                            class: 'form-control width-50-percent', title: "Select instance type",
                            required: true, tabindex: increment_tab_index}),
            label:''
    }
    %>
  <br>
  <%= f.submit(id: "save-new-tvr-periods-reviewer",
               class: 'btn btn-primary width-4em',
               value: 'Create',
               title: 'Save the reviewer for this review period',
               tabindex: increment_tab_index
  ) %>
    


<% end %>
<%= divider %>


<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
