<% increment_tab_index(0) %>

<%= link_to(@taxonomy_version_review_period.taxonomy_version_review.tree_version.draft_name,
                search_path(query_target: 'tree_version',
                            query_string: "id: #{@taxonomy_version_review_period.taxonomy_version_review.tree_version.id}"),
                class: 'taxonomy review',
                tabindex: increment_tab_index,
                title: "Query the tree version") %>
<span class="pull-right">tree&nbsp;version</span> <br>
<%= link_to(@taxonomy_version_review_period.taxonomy_version_review.name,
                search_path(query_target: 'taxonomy_version_review',
                            query_string: "id: #{@taxonomy_version_review_period.taxonomy_version_review.id}"),
                class: 'taxonomy review',
                tabindex: increment_tab_index,
                title: "Query the taxonomy review") %>
<span class="pull-right">taxonomy&nbsp;review</span> <br>
<%= divider %>
Review Period
<br>
<%= link_to(@taxonomy_version_review_period.start_date.strftime("%d-%b-%Y"),
                search_path(query_target: 'taxonomy_version_review_period',
                            query_string: "id: #{@taxonomy_version_review_period.id}"),
                class: 'taxonomy review period',
                tabindex: increment_tab_index,
                title: "Query the taxonomy review period") %>
<span class="pull-right">start&nbsp;date</span> <br>
<%= @taxonomy_version_review_period.end_date.strftime("%d-%b-%Y") unless @taxonomy_version_review_period.end_date.blank? %>
<span class="pull-right">end date</span> <br>
<%= divider %>
<div id="review-calendar">
  <% params[:start_date] = @taxonomy_version_review_period.start_date %>
  <%= render partial: 'taxonomy_version_review_periods/tabs/calendar' %>

</div>

<%= divider %>

<%= @taxonomy_version_review_period.id %> <span class="pull-right">ID</span> <br>
<%= created_by_whom_and_when(@taxonomy_version_review_period).html_safe %> <br>
<%= updated_by_whom_and_when(@taxonomy_version_review_period).html_safe %>


