<ul class="nav nav-tabs">
In-Batch-Note record
</ul>

<%#= render partial: 'detail_line', locals: {info: @loader_name.notes, label: 'Notes'} %>
Notes:<br>
<%= @loader_name.notes %>
<br>
<br>
<br>
<%= divider %>
<h5>Metadata</h5>
<%= render partial: 'detail_line', locals: {info: @loader_name.id, label: 'ID'} %>
<%= render partial: 'detail_line',
      locals: {label: 'batch',
               info: link_to(@loader_name.batch.name,
                        search_path(
                          query_target: 'loader batch',
                          query_string: "id: #{@loader_name.batch.id}"),
               title:"Query the loader batch",class:'blue')} %>

<%= created_by_whom_and_when(@loader_name).html_safe %>
<br>
<%= updated_by_whom_and_when(@loader_name).html_safe %>
