<% increment_tab_index(0) %>
<%= render partial: 'detail_line', locals: {info: @review_period.name, label: 'Name'} %>

<%#= render partial: 'detail_line',
      locals: {info: @review_period.batch.name,
               label: link_to('Batch',
                        search_path(
                          query_target: 'loader batch',
                          query_string: "id: #{@review_period.batch.id}"),
               title:"Query the loader batch",class:'blue')} %>


<%#= render partial: 'detail_line',
      locals: {info: @review_period.periods.size,
               label: link_to('Periods',
                        search_path(
                          query_target: 'review_period review periods',
                          query_string: "review_period-review-id: #{@review_period.id}"),
               title:"Query the review_period review periods",class:'blue')} %>

<%= divider %>
Review Period
<br>
<%= link_to(@review_period.start_date.strftime("%d-%b-%Y"),
                search_path(query_target: 'taxonomy_version_review_period',
                            query_string: "id: #{@review_period.id}"),
                class: 'taxonomy review period',
                tabindex: increment_tab_index,
                title: "Query the taxonomy review period") %>
<span class="pull-right">start&nbsp;date</span> <br>
<%= @review_period.end_date.strftime("%d-%b-%Y") unless @review_period.end_date.blank? %>
<span class="pull-right">end date</span> <br>
<%= divider %>
<div id="review-calendar">
  <% params[:start_date] = @review_period.start_date %>
  <%= render partial: 'loader/batch/review_periods/tabs/calendar' %>

</div>

<%= divider %>


<h5>Metadata</h5>
Review Period #<%= @review_period.id %>
<br>
<%= created_by_whom_and_when(@review_period).html_safe %>
<br>
<%= updated_by_whom_and_when(@review_period).html_safe %>

