
<% loader_name = @instance.loader_name_for_accepted_excluded %>
<% loader_name.loader_batch_id = session[:default_loader_batch_id] %>
<% syn_for_copy = @instance.synonyms_for_copy_to_loader_name %>


<h5>Add <%= loader_name.simple_name %> to a batch</h5>
<ul>
  <li/>in the <%= loader_name.family %> family
  <li/> as an accepted or excluded name
    <li/> with <%= loader_name.rank %> rank 
      <% "and #{loader_name.name_status} status" unless loader_name.name_status.nil? %>
</ul>


<%= form_with(model: loader_name, role: 'form', data: { turbo: false }, local: false) do |form| %>
    <div class="form-group">
      <label for="loader_batch_id">Batch<span class="red">*</span></label>
      <%= form.select :loader_batch_id,
        Loader::Batch.order(:name).map { |batch| [batch.name, batch.id] },
        {include_blank: true},
        class: 'form-control',
        required: true,
        title: 'Must be within a batch',
        tabindex: increment_tab_index %>
    </div>

    <%= form.hidden_field :simple_name %>
    <%= form.hidden_field :full_name %>
    <%= form.hidden_field :family %>
    <%= form.hidden_field :rank %>
    <%= form.hidden_field :name_status %>
    <%= form.hidden_field :loaded_from_instance_id %>

    <% if syn_for_copy.size > 0 %>
      <% loader_name.add_sourced_synonyms = true %>
      <div class="form-check">
        <label class="form-check-label">
          <%= form.check_box(:add_sourced_synonyms,
                             {title: "Take only sourced synonyms to the loader (but not trade names)"},
                             checked_value = 'true',
                             unchecked_value = 'false') %>
          Take <%= "#{pluralize(syn_for_copy.size, 'sourced synonym')}" %>
        </label>
      </div>
      <br/>
    <% end %>


    <div class="form-group">
      <label for="record_type">Record type - accepted or excluded *</label>
      <%= form.select :record_type, ["accepted", "excluded"], {include_blank: true},
        class: 'form-control',
        required: true,
        title: 'Top level records can be accepted or excluded',
        tabindex: increment_tab_index %>
    </div>

    <div class="form-group">
      <label for="comment">Public Taxonomy Comment</label>
      <%= form.text_area :comment, class: 'form-control', title: "Enter comment", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="distribution">Distribution</label>
      <%= form.text_field(:distribution, {class: 'form-control', title: 'Distribution of the taxon', tabindex: increment_tab_index}) %>
    </div>

    <div class="form-group">
      <label for="notes">Notes for Compilers</label>
      <%= form.text_area :notes, class: 'form-control', title: "Enter notes", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="remark_to_reviewers">Remark to reviewers</label>
      <%= form.text_area :remark_to_reviewers, class: 'form-control', title: "Enter remark to reviewers", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <%= divider %>

    <div class="form-group align-right">
      <%= form.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', 
        title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>
<% end %>

