
<% loader_name = @instance.loader_name_for_accepted_excluded %>
<% syn_for_copy = @instance.synonyms_for_copy_to_loader_name %>


<h5>Add <%= loader_name.simple_name %> and its synonymy to an existing concept</h5>


<%= form_with(model: loader_name, role: 'form', data: { turbo: false }, local: false) do |form| %>

    <%= form.hidden_field :simple_name %>
    <%= form.hidden_field :full_name %>
    <%= form.hidden_field :family %>
    <%= form.hidden_field :rank %>
    <%= form.hidden_field :name_status %>
    <%= form.hidden_field :loaded_from_instance_id %>

    <label for="loader_batch_id">Batch<span class='red'>*</span></label>
      <%= form.select :loader_batch_id,
        Loader::Batch.order(:name).map { |batch| [batch.name, batch.id] },
        {include_blank: true},
        id: 'loader_batch_id',
        class: 'form-control',
        required: true,
        title: 'Must be within a batch',
        onchange: "useSelectedBatch(); $('#loader_batch_id').prop('disabled', true);",
        tabindex: increment_tab_index %>
      <p>Batch will lock once you select it - to change your batch click the Loader 2 tab heading to refresh.</p>

    <br>
    <% if syn_for_copy.size > 0 %>
      <% loader_name.add_sourced_synonyms = true %>
      <div class="form-check">
        <label class="form-check-label">
          <%= form.check_box(:add_sourced_synonyms,
                             {title: "Take only sourced synonyms to the loader (but not trade names)"},
                             checked_value = 'true',
                             unchecked_value = 'false') %>
          Take <%= "#{pluralize(syn_for_copy.size, 'sourced synonym')}" %>
        </label>
      </div>
      <br/>
    <% end %>


    <div class="form-group">
      <label for="loader-name-parent-typeahead">Concept/Parent<span class="red">*</span></label>
      <input id="loader-name-parent-typeahead"
             name="loader_name[parent_typeahead]"
             class="typeahead form-control"
             data-loader-name-id="<%= loader_name.id %>"
             data-loader-batch-id=$("#loader_batch_id").val()
             type="text" 
             tabindex="<%= increment_tab_index %>"
             title="Loader Name concept"
             required
             placeholder="Begin typing name then select from list"
             />
      <p>Select a batch first</p>
    </div>
    <script>
        function useSelectedBatch() {
            batchId = $('#loader_batch_id').val();
            $("#loader-name-parent-typeahead").attr("data-loader-batch-id", batchId);
            setUpLoaderNameParentTypeahead();
            loaderNameParentSuggestions.initialize();
        }
    </script>

    <%= render partial: "loader/names/tabs/forms/synonym_type", locals: {f: form, loader_name: loader_name} %>

    <div class="form-group">
      <label for="remark_to_reviewers">Remark to reviewers</label>
      <%= form.text_field(:remark_to_reviewers, class: 'form-control',
                          title: "Remark to reviewers for the new records", tabindex: increment_tab_index) %>
      <p>Any text entered here will be replicated for all synonyms added by hitting Save</p>
    </div>

    <%= divider %>

    <input type="hidden" name="form-task" value="supplement-existing-concept">
    <div class="form-group align-right">
      <%= form.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', 
        title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>
<% end %>

