<% increment_tab_index(0) %>

<%= @tree_version.draft_name %> <span class="pull-right">draft name</span> <br>
<%= @tree_version.log_entry %> <span class="pull-right">log entry</span> <br>
<%= link_to("#{@tree_version.previous_version.draft_name}&nbsp;#{search_icon_on_tab}".html_safe,
            search_path(query_string: "id:#{@tree_version.previous_version_id}",
                        query_target: 'tree_version'),
                        title: 'Retrieve the tree',class: 'tree')
%> 
<span class="pull-right">previous version</span> <br>
<%= link_to("#{@tree_version.tree.name} tree #{search_icon_on_tab}".html_safe, search_path(query_string: "id:#{@tree_version.tree_id}",query_target: 'tree'),
            title: 'Retrieve the tree',class: 'tree') %> 
<span class="pull-right">taxonomy</span> <br>
<%= divider %>
<%= link_to("Changes from the previous version", search_path(query_string: "#{@tree_version.id},#{@tree_version.previous_version_id}",query_target: 'changed_tree_elements'),
            title: 'Retrieve the tree',class: 'tree') %> 
<span class="pull-right">changes</span> <br>


<%= link_to("Services view of changes from the previous version",
            "#{Rails.configuration.nsl_links}treeVersion/diff?v1=#{@tree_version.previous_version_id}&v2=#{@tree_version.id}&list=true",
            title: 'Retrieve the tree',class: 'tree') %> 
<span class="pull-right">changes</span> <br>
<% unless @tree_version.taxonomy_reviews.empty? %>
  <%= divider %>
  <h5>Reviews</h5>
  <% @tree_version.taxonomy_reviews.each do |review| %>
    <%= link_to(review.name,
                search_path(query_target: 'taxonomy review',
                            query_string: "id: #{review.id}"),
                class: 'taxonomy-review',
                tabindex: increment_tab_index,
                title: "Query the taxonomy review") %>
    <br/>
  <% end %>
<% end %>
<%= divider %>
<%= @tree_version.id %> <span class="pull-right">ID</span> <br>
<%= created_by_whom_and_when(@tree_version).html_safe %>
<% if @tree_version.published %>
  <br>
  <%= published_by_whom_and_when(@tree_version).html_safe %>
<% else %>
    Unpublished
<% end %>



