<%= form_with(model: loader_name, role: 'form', remote: true) do |f| %>
    <div class="form-group align-right">
      <div class="nsl-inline-block align-left pull-left"><h5><%= loader_name.new_record? ?  'Create' : 'Edit' %> Main Record</h5></div>
      <% if loader_name.id.blank? -%>
        <%= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", title: "Cancel new loader_name", data: {element_id: "new-loader-name-#{params[:random_id]}"}, tabindex: increment_tab_index %>
      <% end %>
      <%= f.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>

    <% if loader_name.new_record? %>

      <b>Batch:</b><br>
      <% if session[:default_loader_batch_name].blank? %>
        <span class='red'>No default batch! Please set a default batch first.</span>
      <% else %>
      <%= session[:default_loader_batch_name] %>
      <br>
      <%= f.hidden_field :loader_batch_id, class: 'form-control', required: true, value: "#{session[:default_loader_batch_id]}", title: "loader batch id", tabindex: increment_tab_index, autofocus: true %>
      <input type="hidden" name="random_id" value="<%= params[:random_id] %>"/>
      <% end %>
    <% end %>

    <br>

    <div class="form-group">
      <label for="seq">Seq*</label>
      <%= f.text_field(:seq, {class: 'form-control give-me-focus', title: 'For listing the taxon in the correct order', tabindex: increment_tab_index}) %>
    </div>

    <div class="form-group">
      <label for="simple_name">Simple Name*</label>
      <%= f.text_field :simple_name, class: 'form-control', required: true, title: "Enter simple name - the value of simple name, as loaded is retained in simple name as loaded", tabindex: increment_tab_index, autofocus: true %>
      <% unless loader_name.simple_name == loader_name.simple_name_as_loaded %>
        <p>As originally loaded: <%= loader_name.simple_name_as_loaded %></p>
        <p>Simple Name is used for matching with name records, so editing it will likely change the matches.</p>
      <% end %>
    </div>


    <div class="form-group">
      <label for="full_name">Full Name*</label>
      <%= f.text_field :full_name, class: 'form-control',
        required: true, title: "Enter full name",
        tabindex: increment_tab_index, autofocus: true %>
    </div>


    <div class="form-group">
      <label for="family">Family Name*</label>
      <%= f.text_field :family, class: 'form-control',
        required: true, title: "Enter family name", tabindex: increment_tab_index %>
    </div>

    <div class="form-group">
      <label for="rank">Rank</label>
      <%= f.text_field :rank, class: 'form-control', title: "Enter rank", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="record_type">Record type - accepted or excluded *</label>
      <%= f.select :record_type, ["accepted", "excluded"], {include_blank: true},
        class: 'form-control',
        required: true,
        title: 'Top level records can be accepted or excluded',
        tabindex: increment_tab_index %>
    </div>

    <%= render partial: "loader/names/tabs/forms/name_status", locals: {f: f} %>

    <div class="form-group">
      <label for="comment">Comment</label>
      <%= f.text_area :comment, class: 'form-control', title: "Enter comment", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="distribution">Distribution</label>
      <%= f.text_field(:distribution, {class: 'form-control', title: 'Distribution of the taxon', tabindex: increment_tab_index}) %>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <%= f.text_area :notes, class: 'form-control', title: "Enter notes", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="remark_to_reviewers">Remark to reviewers</label>
      <%= f.text_area :remark_to_reviewers, class: 'form-control', title: "Enter remark to reviewers", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <%= divider %>

    <% unless loader_name.id.blank? %>
        <% if loader_name&.preferred_match&.standalone_instance? %>
          <% disabled = true %>
          Note: this record already has an associated instance - you cannot switch off bulk processing while that instance is attached.
        <% else %>
          <% disabled = false %>
        <% end %>

        <div class="form-group">
        <label class="form-check-label">
          <%= f.check_box(:no_further_processing, {class: 'xform-control',
                                                   disabled: disabled,
                                                   title: 'Prevent further bulk processing of this record and of its synonyms'}) %>
                                                 Stop further bulk processing of this record and of its synonyms
        </label>
        </div>
    <% end %>

    <div class="form-group align-right">
      <% if loader_name.id.blank? %>
        <%= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", data: {element_id: "new-loader-name-#{params[:random_id]}"}, 
                       title: "Cancel new loader_name", tabindex: increment_tab_index  %>
      <% end %>
      <%= f.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container2" class="message-container"></div>
    <div id="search-result-details-error-message-container2" class="message-container"></div>
<% end %>
