<%= form_with(model: loader_name, role: 'form', data: { turbo: false }, local: false) do |f| %>
    <div class="form-group align-right">
      <div class="nsl-inline-block align-left pull-left"><h5><%= loader_name.new_record? ?  'Create' : 'Edit' %> Heading Record</h5></div>
      <% if loader_name.new_record? -%>
        <%= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", title: "Cancel new loader_name", data: {element_id: "new-loader-name-#{params[:random_id]}"}, tabindex: increment_tab_index %>
      <% end %>
      <%= f.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>

    <% if loader_name.new_record? %>
      <% loader_name.rank = 'family' if loader_name.rank.blank? %>
      <b>Batch:</b><br>
      <% if session[:default_loader_batch_name].blank? %>
        <span class='red'>No default batch! Please set a default batch first.</span>
      <% else %>
      <%= session[:default_loader_batch_name] %>
      <br>
      <%= f.hidden_field :loader_batch_id, class: 'form-control give-me-focus', required: true, value: "#{session[:default_loader_batch_id]}", title: "loader batch id", tabindex: increment_tab_index, autofocus: true %>
      <input type="hidden" name="random_id" value="<%= params[:random_id] %>"/>
      <% end %>
    <% end %>

    <br>

    <%= render partial: "loader/names/tabs/forms/sort_key_or_seq", locals: {loader_name: loader_name, f: f} %>

    <%= render partial: "loader/names/tabs/forms/simple_name_full_name", locals: {loader_name: loader_name, f: f} %>

    <div class="form-group">
      <label for="family">Family Name*</label>
      <%= f.text_field :family, class: 'form-control give-me-focus',
        required: true, title: "Enter family name", tabindex: increment_tab_index %>
    </div>

    <div class="form-group">
      <label for="rank">Rank*</label>
      <%= f.text_field :rank, class: 'form-control', required: true, title: "Enter rank", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="record_type">Record type - heading *</label>
      <%= f.select :record_type, ["heading"], {include_blank: false},
        class: 'form-control',
        title: 'This is a heading record' %>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <%= f.text_area :notes, class: 'form-control', title: "Enter notes", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="remark_to_reviewers">Remark to reviewers</label>
      <%= f.text_area :remark_to_reviewers, class: 'form-control', title: "Enter remark to reviewers", tabindex: increment_tab_index %>
    </div>

    <div class="form-group">
      <label for="formatted_text_above">Formatted text above</label>
      <%= f.text_area :formatted_text_above, class: 'form-control', title: "Enter formatted text above", tabindex: increment_tab_index %>
    </div>

    <div class="form-group">
      <label for="formatted_text_below">Formatted text below</label>
      <%= f.text_area :formatted_text_below, class: 'form-control', title: "Enter formatted text below", tabindex: increment_tab_index %>
    </div>

    <%= divider %>

    <div class="form-group align-right">
      <% if loader_name.new_record? %>
        <%= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", data: {element_id: "new-loader-name-#{params[:random_id]}"}, 
                       title: "Cancel new loader_name", tabindex: increment_tab_index  %>
      <% end %>
      <%= f.submit "Save", id: 'loader-name-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>
    <div id="search-result-details-info-message-container2" class="message-container"></div>
    <div id="search-result-details-error-message-container2" class="message-container"></div>
<% end %>
