<%= tve["element_link"] %> <span class="pull-right">element link</span> <br>
<%= tve["depth"] %> <span class="pull-right">depth</span> <br>
<%= tve["name_path"] %> <span class="pull-right">name path</span> <br>
<br>
<%= tve["parent_id"] %> <span class="pull-right">parent id</span> <br>
<%= tve["taxon_id"] %> <span class="pull-right">taxon id</span> <br>
<%= tve["taxon_link"] %> <span class="pull-right">taxon link</span> <br>
<%= tve["tree_element_id"] %> <span class="pull-right">tree element id</span> <br>
<%= tve["tree_path"] %> <span class="pull-right">tree path</span> <br>
<%= tve["tree_version_id"] %> <span class="pull-right">tree version id</span> <br>
<%= tve["updated_at"] %> <span class="pull-right">updated by</span> <br>
<%= tve["updated_by"] %> <span class="pull-right">updated at</span> <br>
<%= tve["merge_conflict"] %> <span class="pull-right">merge conflict</span> <br>

