<div class="focus-details <%= 'freshly-created' if Time.now.strftime("%Y%m%d") == @taxonomy_version_review_period.created_at.strftime("%Y%m%d") &&
                          (@taxonomy_version_review_period.created_at - @taxonomy_version_review_period.updated_at).abs < 10 %>">
  <% if notice %> <p id="notice"><%= notice %></p> <% end %>

  <br>

  Taxonomy Version Review Period starting <%= link_to(@taxonomy_version_review_period.start_date.strftime("%d-%b-%Y"), search_path(query_target: 'taxonomy_version_review_period',
                                                 query_string: "id:#{@taxonomy_version_review_period.id}"),
                                                 id: 'tab-heading',
                                                 title: 'Query this taxonomy_version_review_period') %>

  <div>&nbsp;</div>

  <%= render partial: 'taxonomy_version_review_periods/tabs/tabs' %>

  <%= render partial: "taxonomy_version_review_periods/tabs/#{@tab}" %>

  <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

</div><!-- /end .focus-details -->
