
<tr id="review-result-<%= search_result.id %>" 
  class="review-result show-details <%= 'fresh' if search_result.fresh? %>"  
  data-get-url=""
  data-edit-url="<%= loader_name_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-base-url=""
  data-tab-url="<%= loader_name_review_tab_path(id: search_result[:id],tab: 'active_tab_goes_here', component: search_result.record_type) %>"
  data-record-id="<%= search_result.id %>"
  data-record-type="loader-name"
  tabindex="<%= increment_tab_index %>" 
    >
    <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%#= record_icon('loader-name') %></td>
    <td
        tabindex="<%= increment_tab_index %>" 
        class="text takes-focus name main-content show-details min-width-70-percent max-width-90-percent width-80-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
      class="review-show-details-link navigation-link"
      tabindex="<%= increment_tab_index %>" 
      title="Loader Name record. Select to show details."
      id="<%= %Q(#{search_result.class}-#{search_result.id}) %>">
      <%= render partial: 'application/search_results/review/link_texts/loader_name', locals: {search_result: search_result} %>
      <% unless search_result.name_status.blank? %>
        &nbsp;
        <span class="review loader-name name-status"><%= search_result.name_status %> </span>
      <% end %>
      <% if search_result.record_type == 'accepted' && search_result.excluded? %>
        <span class="excluded">excluded</span>
      <% end %>
      <% if search_result.isonym? %>
        <span class="review loader-name isonym">isonym</span>
      <% end %>


      <% unless search_result[:flushing] %>
        <% if search_result.narrow_direct_reviewer_comments? %>
          <span class="reviewer-comment-tag"><%= pluralize(search_result.narrow_direct_reviewer_comments.size, 'reviewer comment') %></span>
        <% end %>
        <% if search_result.narrow_direct_compiler_comments? %>
          <span class="compiler-comment-tag"><%= pluralize(search_result.narrow_direct_compiler_comments.size, 'compiler comment') %></span>
        <% end %>
      <% end %>

      <% if search_result.accepted? || search_result.excluded? %>
        <% if search_result.compiler_or_reviewer_comments? %>
          <span class="total-reviewer-comment-tag"><%= pluralize(search_result.total_compiler_and_reviewer_comments.size, 'total comment') %></span>
        <% end %>
      <% end %>
      <% unless search_result.remark_to_reviewers.blank? %>
        <%# style text and link as well as we can %>
        <span class="review loader-name remark-to-reviewers">
          <%= search_result.remark_to_reviewers
            .gsub(/<a/, "<a class='remark-to-reviewers'")
            .sub(/(>)([^><]*$)/,'\1<span class="remark-to-reviewers">\2</span>')
            .html_safe %>
        </span>
      <% end %>
    </a>
  </td>
</tr>
