<% if @loader_name.preferred_matches.size == 0 %>
  <br><br>
  No preferred match, nothing to do here.
<% else %>
  <% @loader_name.preferred_matches.each do |match| %>

    <% if match.taxonomy_choice_made? %>
      <h5>Current choice</h5>
      <%= render partial: 'loader/names/tabs/ref_instance/included_names/show_current_choice', locals: {match: match} %>
      <br>record type: <%= @loader_name.record_type %>
      <br>standalone:  <%= match.standalone_instance_id %>
      <br>standalone found:  <%= match.standalone_instance_found %>
      <br>standalone created: <%= match.standalone_instance_created %>
    <% if match.standalone_instance_id.present? %>
      <br>
     <%= link_to("Show the instance",
                search_path(query_target: "Instance", query_string: "id: #{match.standalone_instance_id}"),
                tabindex: increment_tab_index,
                title: "Show the instance",
                class: 'blue') %>
    <% end %>
     <%= render partial: 
                'loader/names/tabs/ref_instance/included_names/clear_standalone_instance',
                locals: {match: match} %>
    <% else %>
      <%= render partial: 'loader/names/tabs/ref_instance/included_names/three_way_choice_form', locals: {match: match} %>
      <br><br>
      <div id="search-result-details-info-message-container" class="message-container"></div>
      <div id="search-result-details-error-message-container" class="error-container"></div>
    <% end %>
  <% end %>
  <br><br>

<% end %>


