<tr id="search-result-<%= search_result.id %>" 
  class="search-result  <%= 'fresh' if search_result.fresh? %>"  
  data-record-id="<%#= search_result.id %>"


  data-get-url="<%#= tree_element_path(search_result.id) %>"
  data-edit-url="<%#= tree_element_path(search_result.id) %>"
  data-base-url="<%#= tree_element_path(search_result.id) %>"
  data-tab-url="<%= tree_element_tab_path(id: search_result[:id],tab: 'active_tab_goes_here') %>"
  data-record-id="<%#= search_result.id %>"
  <% unless search_result[:operation].blank? %>
    data-tree-element-operation="<%= search_result[:operation] %>"
  <% end %>
  <% unless search_result[:tv_id].blank? %>
    data-tree-version-id="<%= search_result[:tv_id] %>"
  <% end %>
  <% unless search_result[:tve_element_link].blank? %>
    data-tree-version-element-element-link="<%= CGI.escape(search_result[:tve_element_link]) %>"
  <% end %>

  data-record-type="tree"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('orchid') %></td>
  <td class="text takes-focus draft_name main-content min-width-40-percent max-width-60-percent width-50-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
      class="show-details-link"
      tabindex="<%= increment_tab_index %>" 
      title="Tree Element record. Select to show details."
      id="<%= %Q(#{search_result.class}-#{search_result.id}) %>">

      <%= render partial: 'tree_element_link_text', locals: {search_result: search_result} %>
      <% unless search_result[:operation].blank? %>
        <span class="search-result-operation operation-type-<%= search_result[:operation] %>"><%= search_result[:operation] %></span>
      <% end %>

    </a>
    <div class="synonyms xhidden">
    <% search_result[:synonyms]['list'].each do |synonym|  %>
      &mdash; <%= synonym["full_name_html"].html_safe %>
      <%= "(#{synonym["year"].to_int})" %>
      <%= synonym["type"] %>
      <br>
    <% end %>
    </div>
  </td>
  <td class="takes-focus width-5-percent filler">&nbsp;</td>
</tr>
