<%= turbo_stream.replace "add_annotation_form#{@profile_item.product_item_config_id}" do %>
  <div id="add_annotation_form<%= @profile_item.product_item_config_id %>">
    <div id="annotation_message_<%= @profile_item.id %>" class="message-container"><%= @message %></div>
    <label>Annotate this profile item:</label>
    <%= render partial: "profile_item_annotations/form",
      locals: {
        url: profile_item_annotations_path,
        method: :post,
        profile_item_annotation: @profile_item.build_profile_item_annotation
      }
    %>
  </div>
<% end %>
