
<%= form_for(@te_comment, remote: true, class: 'instance-note-edit-form') do |f| %>
   <input type="hidden" name="random_id" value="<%= params[:random_id] %>"/>
   <%= f.hidden_field(:tree_element_id, value: @te_comment.tree_element_id) %>
   <%= f.hidden_field(:taxonomy_version_review_period_id, value: @te_comment.taxonomy_version_review_period_id) %>

   <table class="width-100-percent">
    <tr>
    <td>

      <%=  f.text_area(:comment, 
                       rows: '3', 
                       class: 'width-100-percent comment-text-text-area give-me-focus',
                       title: 'Please enter comment text',
                       tabindex: increment_tab_index,
                       data: {comment_id: @te_comment.id}, 
                       required: true,
                       ) %>
    </td>
    </tr>
    <tr>
      <td>
        <br>
        <%= f.submit id: "comment-create-btn", 
                     class: 'btn btn-primary width-6em pull-right', 
                     tabindex: increment_tab_index, 
                     title: "Select this to create a new comment.",
                     value: 'Create' %>
      </td>
      <td class="align-right">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="message-for-new-comment-note" class="message-container"></div>
        <div id="error-for-new-comment-note" class="error-container"></div>
      </td>
    </tr>
  </table>
  <%= divider %>
<% end %>



