
      <% unless @stored_distribution.blank? %>
       <tr id="review-result-distribution-<%= @stored_result.id %>" 
  class="review-result distribution show-details <%= 'fresh' if @stored_result.fresh? %>"  
  data-get-url=""
  data-edit-url="<%= loader_name_path(id: @stored_result[:id],tab: 'active_tab_goes_here') %>"
  data-base-url=""
  data-tab-url="<%= loader_name_review_tab_path(id: @stored_result[:id],tab: 'active_tab_goes_here', component: 'distribution') %>"
  data-record-id="<%= @stored_result.id %>"
  data-record-type="loader-name"
  tabindex="<%= increment_tab_index(100) %>"
    >
    <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%#= record_icon('orchid') %></td>
  <td class="text takes-focus loader-name distribution main-content min-width-70-percent max-width-90-percent width-80-percent <%= 'give-me-focus' if give_me_focus %>"
      tabindex="<%= increment_tab_index %>" >
    <a
      class="review-show-details-link navigation-link"
      tabindex="<%= increment_tab_index %>" 
      title="Loader Name distribution. Select to show details."
      id="<%= %Q(#{@stored_result.class}-distribution-#{@stored_result.id}) %>">
         <span class="review-loader-name distribution"><%= @stored_distribution.html_safe %></span>
    </a>
      <% if @stored_result.reviewer_comments?('distribution') %>
        <span class="reviewer-comment-tag"><%= pluralize(@stored_result.reviewer_comments('distribution').size, 'reviewer comment') %></span>
      <% end %>
      <% if @stored_result.compiler_comments?('distribution') %>
        <span class="compiler-comment-tag"><%= pluralize(@stored_result.compiler_comments('distribution').size, 'compiler comment') %></span>
      <% end %>
  </td>
</tr>

     <% end %>
