<%= form_for(@loader_name, as: 'loader_name', url: loader_name_matches_set_path, role: 'form', remote: true) do |f| %>
  <% @loader_name.matches(type: match_type).each_with_index do |matching_name, index| %>

    <% disable_radio_button = !matching_name.has_primary_instance? || matching_name.duplicate? || @loader_name.synonym_without_synonym_type? %>
    <% if disable_radio_button then 
        reason_to_disable = '[Radio button is disabled because '
        reason_to_disable += 'matching name has no primary instance; ' unless matching_name.has_primary_instance? 
        reason_to_disable += 'matching name is a duplicate; ' if matching_name.duplicate? 
        reason_to_disable += 'this synonym has no type; ' if @loader_name.synonym_without_synonym_type? 
        reason_to_disable += ']'
        reason_to_disable.sub!('; ]',']')
      %>
    <% end %>


    <% preferred_name_ids = @loader_name.loader_name_matches.collect {|preferred| preferred.name_id} %>

    <%= f.radio_button(:name_id, matching_name.id, checked: preferred_name_ids.include?(matching_name.id), disabled: disable_radio_button, onclick: "$('#save-match').removeClass('hidden'); $('#clear-matches').addClass('hidden')") %>
    <%= label_tag(:"loader_name_name_id_#{matching_name.id}",
                  "#{matching_name.full_name} #{matching_name.name_status.name_for_instance_display}",
                  title: "Name ID: #{matching_name.id}") %>
    &nbsp;<%= reason_to_disable if disable_radio_button %>

  | <%= link_to("#{ShardConfig.name_space} Editor #{icon('binoculars')}".html_safe,
                search_path(query_string: "id: #{matching_name.id} show-instances:",query_target: 'names'),
                          tabindex: increment_tab_index,
                          title: "Search for #{matching_name.full_name}",
                          class: 'blue') %>
    <br>
        <% matching_name.primary_instances.each do |p_i| %>
          <span class="brown"><%= p_i.instance_type.name %></span>&nbsp;<span title="Instance ID: <%= p_i.id %>"><%= p_i.reference.citation %>:&nbsp;<%= p_i.page %></span>
        <% end %>
    <br>
    <% if preferred_name_ids.include?(matching_name.id) %>
      <% if @loader_name.loader_name_matches.where(name_id: matching_name.id).first.standalone? %>
        <% si = @loader_name.loader_name_matches.where(name_id: matching_name.id).first.standalone_instance %>
        <br>
        <%= render partial: 'detail_line', locals: {info: "#{si.reference.citation}:&nbsp;#{si.page}", label: 'selected instance'} %>
        <%= render partial: 'detail_line', locals: {info: si.instance_type.name, label: 'selected instance type'} %>
      <% elsif @loader_name.loader_name_matches.where(name_id: matching_name.id).first.using_default_ref? %>
        <br>
        Using default reference: <%= @loader_name.loader_batch.default_reference&.citation&.html_safe || 'There is no default reference for this batch' %>
(currently) 
      <% elsif @loader_name.loader_name_matches.where(name_id: matching_name.id).first.copy_and_append? %>
        <br>
        Copy and append: copy instances from <% si = @loader_name.loader_name_matches.where(name_id: matching_name.id).first.standalone_instance %>
        <span class="brown"><%= si.instance_type.name %></span>&nbsp;<span title="Instance ID: <%= si.id %>"><%= si.reference.citation %>:&nbsp;<%= si.page %></span>
        <br>
        and append to a new instance on the batch default reference: <%= @loader_name.loader_batch.default_reference&.citation&.html_safe || 'There is no default reference for this batch' %>, also add any loader instances.
      <% end %>
    <% end %>
  <% end %>
  <br>
  <br>
  <%= f.submit "Save", id: 'save-match', value: 'Save Preferred Match', tabindex: increment_tab_index, title: 'Save changes', class: 'btn btn-primary width-11em hidden', disabled: false %>
<% end %>


