
<% if can? 'menu', 'new' %>
  <li>
    <% if Rails.configuration.try('multi_product_tabs_enabled') %>
      <%= render partial: 'layouts/new_multi_product_menu'   %>
    <% else %>
      <%= render partial: 'layouts/new_menu'   %>
    <% end %>
  </li>
<% end %>
<% if can? 'menu', 'help' %>
  <li> <%= render partial: 'layouts/help_menu'  %> </li>
<% end %>
<% if can? 'menu', 'user' %>
  <li> <%= render partial: 'layouts/user_menu' %> </li>
<% end %>
<% if can?("product_contexts/set_context", "create") && Rails.configuration.try('multi_product_tabs_enabled') %>
  <li id="context-selection-menu" class="dropdown">
    <%= render partial: 'layouts/product_context_menu' %>
  </li>
<% end %>
<% if can? 'menu', 'tree' %>
  <li id="taxonomy-menu-main" class="dropdown">
    <%= render partial: 'layouts/taxonomy_menu' %>
  </li>
<% end %>
<% if Rails.configuration.try(:batch_loader_aware) %>
  <% if can? 'menu', 'batch' %>
    <li id="batch-menu-main" class="dropdown">
      <%= render partial: 'layouts/batch_menu',
        locals: {default_batch: session[:default_loader_batch_name]} %>
    </li>
  <% end %>
<% end %>
<% if can? 'menu', 'admin' %>
  <li> <%= render partial: 'layouts/admin_menu' %> </li>
<% end %>

