          <ul id="create-name-dropdown-submenu" class="dropdown-menu" role="menu">

            <li role="presentation">
              <%= link_to "Scientific name",
                          name_new_row_path('scientific'),
                          title: 'Add a new scientific name',
                          remote: true,
                          tabindex: '-1' %>
            </li>


            <li role="presentation">
              <%= link_to "Scientific name family or above",
                          name_new_row_path('scientific-family-or-above'),
                          title: 'Add a new scientific name family and above',
                          remote: true,
                          tabindex: '-1' %>
            </li>

            <li role="presentation">
              <%= link_to "Phrase name",
                          name_new_row_path('phrase'),
                          title: 'Add a new phrase name',
                          remote: true,
                          tabindex: '-1' %>
            </li>

            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to "Named Hybrid",
                          name_new_row_path('named-hybrid'),
                          title: 'Add a new named hybrid',
                          remote: true,
                          tabindex: '-1' %>
            </li>
            <li role="presentation">
              <%= link_to "Hybrid formula name",
                          name_new_row_path('hybrid formula'),
                          title: 'Add a new hybrid name',
                          remote: true,
                          tabindex: '-1' %>
            </li>

            <li role="presentation">
              <%= link_to "Hybrid formula unknown 2nd parent name",
                          name_new_row_path('hybrid-formula-unknown-2nd-parent'),
                          title: 'Add a new hybrid formula unknown 2nd parent name',
                          remote: true,
                          tabindex: '-1' %>
            </li>
            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <%= link_to "Cultivar hybrid name",
                          name_new_row_path('cultivar-hybrid'),
                          title: 'Add a new cultivar hybrid name',
                          remote: true,
                          tabindex: '-1' %>
            </li>

            <li role="presentation">
              <%= link_to "Cultivar name",
                          name_new_row_path('cultivar'),
                          title: 'Add a new cultivar name',
                          remote: true,
                          tabindex: '-1' %>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <%= link_to "Other name",
                          name_new_row_path('other'),
                          title: 'Add a new other name',
                          remote: true,
                          tabindex: '-1' %>
            </li>

          </ul>
