<% if @current_user.present? %>

  <% if @working_draft %>
    <% selected_draft_title = "#{@working_draft&.tree&.name} #{@working_draft&.draft_name}" %>
  <% end %>

    <a href="#"
       id="draft-taxo-dropdown-menu-link"
       tabindex="4"
       class="dropdown-toggle <%= 'active' if params[:controller].match(/session/) %>"
       title='<%= @working_draft ? selected_draft_title + " is the selected draft" : "Draft taxonomy menu. Choose a draft taxonomy to work on here." %>'
       data-toggle="dropdown">
      <i class="fa fa-sitemap"></i>
      <% if @working_draft %>
        <%= "#{selected_draft_title[0,29]}#{ '...' if selected_draft_title.length > 30 } #{editor_icon 'check'}".html_safe %>
      <% else %>
        Draft Taxonomies
      <% end %>
      <span class="caret"></span>
    </a>
    <ul id="tree-dropdown-menu" class="dropdown-menu" role="menu">
      <%= render partial: "trees/drafts_menu" %>
      <% if @working_draft %>
        <li role="presentation" class="divider"></li>
        <li>
          <%= link_to "<i class='fa fa-edit'></i> Edit #{selected_draft_title}".html_safe,
                      trees_edit_draft_path,
                      title: 'Edit draft taxonomy',
                      remote: true,
                      tabindex: '-1' %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-file-text green'></i> Publish #{selected_draft_title}".html_safe,
                      trees_publish_draft_path,
                      title: 'Publish draft taxonomy',
                      remote: true,
                      tabindex: '-1' %>
        </li>
      <% end %>
      <li role="presentation" class="divider"></li>
      <li>
        <%= link_to "<i class='fa fa-plus'></i> Create draft taxonomy".html_safe,
                    trees_new_draft_path,
                    title: 'Add a new draft taxonomy',
                    remote: true,
                    tabindex: '-1' %>
      </li>

    </ul>

<% end %>
