<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= page_title || 'NEDR6' %> </title>

    <script>
      window.relative_url_root = "<%= Rails.application.config.action_controller.relative_url_root %>";
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c8a7e4d562.js" crossorigin="anonymous"></script>

    <% if Rails.env == "development" || params[:debug] == 'true' %>
      <script> debugSwitch = true; </script>
    <% else %>
      <script> debugSwitch = false; </script>
    <% end %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png?v=1', :rel => 'shortcut icon' %>
    <!--    Select2 widget TODO download if it works out -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <% if development? %>
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]) {
  background: red;
  color: red;
  border: 2px solid black;
}

</style>

    <% end %>

    <% if Rails.configuration.try('offer_feedback_link') %>
      <%= Rails.configuration.try('feedback_script').try('html_safe') %>
    <% end %>

  </head>

  <body class="<%= Rails.configuration.try('environment') %>"
        data-active-reference-tab="tab_show_1"
        data-active-name-tab="tab_details"
        data-active-author-tab="tab_show_1"
        data-active-instance-tab="tab_show_1"
        data-active-loader-batch-tab="tab_details"
        data-active-loader-name-tab="tab_details"
        data-active-batch-review-tab="tab_details"
        data-active-review-period-tab="tab_details"
        >

    <div id="screen-too-small-msg">Sorry.... your window is too small to show the editor.  It needs to be wider.</div>
    <% if @view_mode == 'review' then %>
      <%= render partial: 'search/review/top_navbar' %>
    <% else %>
      <%= render partial: 'search/top_navbar' %>
    <% end %>

    <div id="main-content" class="container-fluid">

    <% wide_details =  '' %>
    <% wide_details = 'wide-details' if params[:query_target]&.downcase == 'orchids' %>
    <% wide_details = 'wide-details' if params[:query_target]&.downcase == 'loader names' && @view_mode == 'standard' %>
    <div id="search-result-details" class="hidden <%= wide_details %>"> </div>


      <div class="row">
        <div id="search-result-container" 
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar" >
          <%= yield %>
        </div>
        <div id="help-search-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
            <%= render partial: 'search/tab_inners/help_target_divs' %>
        </div>
        <div id="example-search-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
            <%= render partial: 'search/tab_inners/example_target_divs' %>
        </div>
        <div id="search-reports-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
        </div>
        <div id="tree-reports-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
        </div>
        <div id="stats-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
        </div>
        <div id="batch-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
        </div>
        <div id="orchids-batch-panel-container"
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
        </div>
      </div>
    </div>

    <div id="footer" class="footer">
      <div class="container-fluid">
        <%= render partial: 'layouts/footer' %>
      </div>
    </div>
 </body>
</html>
 
