<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= page_title || 'NEDR6' %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'print', media: 'all' %>
    <% if ['development','test','production','staging'].include?(Rails.configuration.try('environment'))  %>
      <%= favicon_link_tag "favicon-#{Rails.configuration.try('environment')}.png?v=1", :rel => 'shortcut icon' %>
    <% else %>
      <%= favicon_link_tag 'favicon-fallback.png?v=1', :rel => 'shortcut icon' %>
    <% end %>
  </head>

  <body>

          <%= yield %>
 </body>
</html>
 

